<% if results.facet(:user_id).rows %>
<h3>By user</h3>
<ul class="facets">
<% results.facet(:user_id).rows.each do |result| %>
  <li><%=link_to "#{result.instance.login} (#{result.count})", search_questions_path(:question => {:user_id => result.value}.reverse_merge(params[:question])) %>
    <%=link_to "-remove", search_questions_path(:question => {:searchstring => params[:question][:searchstring]}), :class => "remove" if params[:question][:user_id].present?%>
  </li>
<% end -%>
</ul>
<% end -%>

<br class="clear" />