<% if results.facet(:user_id).rows %>
<h3>By user</h3>
<ul class="facets">
<% results.facet(:user_id).rows.each do |result| %>
  <li><%=link_to result.instance.login, questions_path(:search => params[:search], :user_id => result.value) %>
    <%=link_to "-remove", questions_path(:search => params[:search]), :class => "remove" if params[:user_id]%>
  </li>
<% end -%>
</ul>
<% end -%>

<br class="clear" />