<%= f.input :name, :input_html => { :class => "span9" }, :label_html => { :class => "span9" } %>
<div id="wmd-button-bar" class="span9"></div>
<%= f.input :body, :id => "wmd-input", :input_html => { :class => "markdown span9" }, :label_html => { :class => "span9" } %>
<%= f.input :tag_list, :input_html => { :class => "tags span9" }, :label_html => { :class => "span9" } %>
<%= f.input :send_email, :as => :boolean, :input_html => { :class => "span9" }, :label_html => { :class => "span9" } %>