= f.input :name, :input_html => { :class => "span9" }, :label_html => { :class => "span9" }
= f.input :body, :input_html => { :id => "markdown-editor", :class => "markdown span9" }, :label_html => { :class => "span9" }, :html => {:rows => 20}
%h3 MarkDown Preview
#markdown-preview.well.clearfix
= f.input :tag_list, :input_html => { :class => "tags span9" }, :label_html => { :class => "span9" }
= f.input :send_email, :as => :boolean, :input_html => { :class => "span9" }, :label_html => { :class => "span9" }
