<%

if current_user
  vote_value = Vote.has_voted?(current_user, question)
  upclass = vote_value==1? "up" : "up-neutral"
  downclass = vote_value==-1? "down" : "down-neutral"
else
  upclass = "up-neutral"
  downclass = "down-neutral"
end

%>

<%= link_to raw("&nbsp;"), 
                 vote_path(
                 :model => "question",
                 :direction => "up",
                 :dom_id => "votes_#{question.id}",
                 :vote_box_id => "vote-box-#{question.id}",
                 :id => question.id),
                 :method => "put",
                 :remote => true,
                 :class => upclass -%>                       
<div class="value" id="<%="question_#{question.id}"%>"><%=question.votes.length==0? 0 : Vote.count_on("Question", question.id)%></div>
<%= link_to raw("&nbsp;"),
                 vote_path(
                 :model => "question",
                 :direction => "down",
                 :dom_id => "votes_#{question.id}",
                 :vote_box_id => "vote-box-#{question.id}",
                 :id => question.id),
                 :method => "put",
                 :remote => true,
                 :class => downclass -%>