<% title t("question.hot"), page_entries_info(@questions) %>
<div class="header-with-tabs">
  <div class="tabs">
    <%=question_submenu(:hot) %>
  </div>
  <br class="clear" />
</div>
<br class="clear" />
<% @questions.each do |question| %>
  <%= render "/questions/question",:question => question %>
<% end -%>
<br class="clear" />
<%= will_paginate @questions %>
<% content_for :sidebar, render("/questions/sidebar/default") %>
<% main_menu :questions  %>