<div class="question-header">
  <h2>Recent questions</h2>
  <div class="tabs">
    <ul>
      <li><a href="#">Active</a></li>
      <li><a href="#">Hot</a></li>
      <li><a href="#">Unanswered</a></li>
    </ul>
  </div>
  <br class="clear" />
</div>
<br class="clear" />
<% @questions.each do |question| %>
<%= render :partial => "/questions/question", :locals => {:question => question} %>
<% end -%>
<%= will_paginate @questions %>
<% content_for :sidebar, render(:partial => "sidebar") %>
<% main_menu :questions  %>