<div class="header-with-tabs">
  <h2>Active questions</h2>
  <div class="tabs">
    <%=question_submenu(:active) %>
  </div>
  <br class="clear" />
</div>
<br class="clear" />
<% @questions.each do |question| %>
  <%= render :partial => "/questions/question", :locals => {:question => question} %>
<% end -%>
<br class="clear" />
<%= will_paginate @questions %>
<% content_for :sidebar, render(:partial => "/questions/sidebar/default") %>
<% main_menu :questions  %>