<div class="header-with-tabs">
  <h2>Unanswered questions</h2>
  <div class="tabs">
    <%=question_submenu(:unanswered) %>
  </div>
  <br class="clear" />
</div>
<br class="clear" />
<% @questions.each do |question| %>
  <%= render "/questions/question", :question => question %>
<% end -%>
<br class="clear" />
<%= will_paginate @questions %>
<% content_for :sidebar, render("/questions/sidebar/default") %>
<% main_menu :questions  %>