- title t("question.active"), page_entries_info(@questions).html_safe
= question_submenu(:active)
%br.clear/
- @questions.each do |question|
  = render "/questions/question", :question => question
%br.clear/
= will_paginate @questions, renderer: BootstrapPagination::Rails
- content_for :sidebar, render("/questions/sidebar/default")
- main_menu :questions
