<h2><%=t("question.new")%></h2>
<div class="question-edit">
  <%= form_for(@question) do |f| %>
      <%= render :partial => '/questions/form', :locals => {:f => f}%>
      <%= f.submit t("question.save")%>
  <% end %>
</div>
<% main_menu :questions %>
<% title t("question.new") %>
<% content_for :sidebar, render("/questions/sidebar/new") %>