<%= render :partial => "question_header", :locals => {:question => @question}%>
<% if @question.answers.length > 0 %>
  <br class="clear" />
  <h2 class="answer-header">Answers</h2>
  <% @question.answers.each do |answer| -%>
    
      <div class="answer-item" id="answer_<%=answer.id%>">
        <%= render :partial => "/answers/show", :locals => {:answer => answer, :question => @question} %>
        <br class="clear" />
      </div>
      <br class="clear" />
    <% end -%>

<% end -%>

<% if (current_user.present? && !@question.answered?(current_user)) %>
  <%= render :partial => "/answers/new", :locals => {:answer => @answer, :question => @question} %>
<% end -%>  
<% content_for :sidebar, render(:partial => "/questions/show_sidebar", :locals => {:question => @question}) %>
<% main_menu :questions %>
