.DS_Store
config/database.yml
config/sunspot.yml
log/*.log
log/development.log
log/*
tmp/**/*
tmp/*
public/mobile
doc/api
doc/appla
public/system
solr/data/*
solr/pids/*
solr/lib/*
vendor/gems/*
vendor/plugins/access_settings
coverage
.rspec
.rvmrc
.sass-cache/
public/assets
config/
secret_token