var html = "<div class='comment-edit'>";
html += '<h3><%=t("comments.edit")%></h3>';
html += '<%=escape_javascript(render(:partial => "form", :locals => {:comment => @comment, :url => comment_path(@comment)}))%>';
html += '<a href="#" onclick="$.gritter.removeAll();$(\'.comments a.comment-edit\').show();$(\'.comments div.comment-edit\').remove(); return false;" class="cancel"><%=t('cancel')%></a>';
html += "</div>";
$("#comment-<%=@comment.id%>").append(html);