.answer-edit
  background: #FFF5E1
  padding: 10px 20px
  +border_radius
  position: relative
  
  
  a.cancel:link, a.cancel:visited
    background = !color_4
    padding: 7px
    color: white
    text-decoration: none
    +border_radius
    margin-top: 10px
    font-weight: bold
    position: relative
    left: 0px
    font-size: 14px
    bottom: -8px
    
  a.cancel:hover
    background: black
  
  h2
    margin: 0px
    margin-bottom: 20px
  
  label
    font-weight: bold
    display: block
    margin-top: 0px
  
  textarea
    border: 1x solid #737373
    +border_radius
    padding: 5px
    width: 890px
  
  input.text
    border: 1x solid #737373
    +border_radius
    height: 20px
    width: 100%
    font-weight: bold
    font-size: 14px
    
  input.save
    float: right
    background = !color_2
    padding: 5px
    padding-left: 7px
    padding-right: 7px
    color: white
    border: 0px
    font-size: 14px
    +border_radius
    display: block
    font-weight: bold
  
  input.save:hover
    background: black
  
h2.answer-header
  border-bottom: 3px solid #737373


  
.answer-item  
  border-bottom: 1px dotted black
  padding: 10px 0px
  .stats
    float: left
    
    .status
      a
        display: block
        width: 44px
        height: 45px
        padding: 0px
        background: url(../images/unchecked.png) no-repeat 0 0
        color: white 
      a.accepted
        background: url(../images/checked.png) no-repeat 0 0
  .counter
    font-weight: bold
    
  .body
    margin-top: 5px
    margin-bottom: 5px
    overflow: auto
    
    pre
      code
        padding: 5px
        overflow: auto
      
    a:link, a:visited
      padding: 5px
      font-weight: normal
      line-height: 25px
      color = !color_2
      
    a:hover
      color: black
      
    a.edit:link, a.edit:visited
      background = !color_2
      color: white
      padding: 5px
      +border_radius
      text-decoration: none
      font-weight: normal
      line-height: 25px
    
    a.edit:hover
      background: black
    p
      margin-bottom: 1em
      margin-top: 0px
    
    .user
      float: right
      font-size: 12px
      background: #f4f4f4
      margin: 5px
      padding: 5px
      margin-right: 0px
      +border_radius
      
      img
        margin-right: 0px
        
      a:link, a:visited
        text-decoration: none
        color = !color_2
        background: none
        font-weight: bold
      
      a:hover
        color = !color_2_hover
        
        img
          border: 0px
       
        