.stats
  div
    width: 50px
    height: 44px
    font-size: 25px
    font-weight: bold
    vertical-align: center
    text-align: center
    float: left
    margin-right: 10px
    padding-top: 5px
    padding-bottom: 2px
    
    span.desc
      font-size: 12px
      display: block
  
  .votes
    background: #FFE9CF

  .views
    background: #cfcfcf
  
  .answers
    background: #2F6F00
    color: white
    
    span.desc
      font-size: 10px
  
.answer-item
  .stats
    div.votes
      width: 50px
      height: 54px
      font-size: 12px
      font-weight: bold
      vertical-align: center
      text-align: center
      float: left
      margin-right: 10px
      padding: 0px
      
      div.value
        font-size: 12px
        margin: 0
        padding: 0
        height: auto
      
      a:link, a:visited
        display: block
        text-decoration: none
        font-weight: bold
        font-size: 20px
        line-height: 20px
        
        
      a:link, a:visited.up
        color: green
        
      a:link, a:visited.down
        color: #9F0000
      
      a:hover,a.up:hover,a.down:hover
        color: black
        text-shadow: #737373 0px 0px 5px
        
        
        
      