.stats
  div
    width: 50px
    height: 44px
    font-size: 25px
    font-weight: bold
    vertical-align: center
    text-align: center
    float: left
    margin-left: 5px
    margin-right: 10px
    padding-top: 5px
    padding-bottom: 2px
    line-height: 23px
    
    span.desc
      font-size: 12px
      display: block
  
  .votes
    background: #FFE9CF

  .views
    background: #cfcfcf
  
  .answers
    background: #2F6F00
    color: white
    span.desc
      font-size: 10px
      
  .zero
    background: #6F1D00
    span.desc
      font-size: 10px
  
.answer-item, .question
  .stats
  
    div.favourite
      
      font-size: 60px
      font-weight: bold
      display: inline
      padding: 0px
      clear: left
      
      a:link, a:visited
        color: black
        text-decoration: none
        
      a:hover
        color: orange
        text-shadow: 0px 0px 10px orange
    
    div.votes
      width: 50px
      background: white
      height: 74px
      font-size: 12px
      font-weight: bold
      vertical-align: center
      text-align: center
      float: left
      margin-right: 10px
      padding: 0px
      
      div.value
        font-size: 36px
        margin: 0
        padding: 0
        line-height: 36px
        height: auto
        text-align: center
        margin-top: 5px
        
      a.up:link, a:visited.up
        width: 50px
        height: 10px
        padding: 0x
        background: url(/images/arrow-up.png) no-repeat center top
        display: block
        text-decoration: none
        text-align: center
        opacity: 0.8
        
      a.down:link, a:visited.down
        width: 50px
        height: 10px
        padding: 0x
        background: url(/images/arrow-down.png) no-repeat center bottom
        display: block
        text-decoration: none
        clear: both
        text-align: center
        opacity: 0.8
        
      a.up:hover, a.down:hover
        opacity: 1.0
        
      a.up-neutral:link, a.up-neutral:visited
        width: 50px
        height: 10px
        padding: 0x
        background: url(/images/arrow-up-neutral.png) no-repeat center top
        display: block
        text-decoration: none
        clear: both
        text-align: center
        opacity: 0.8
        
      a.down-neutral:link, a.down-neutral:visited
        width: 50px
        height: 10px
        padding: 0x          
        background: url(/images/arrow-down-neutral.png) no-repeat center bottom
        display:block
        text-decoration: none
        clear: both
        text-align: center
        opacity: 0.8
        display: block
        
      a.down-neutral:hover, a.up-neutral:hover
        opacity: 1.0
      
      
