.comments
  margin-left: 33%
  
  .comment-item
    margin-top: 5px
    comment-item
    padding: 5px
    background: #FCFFDF
    display: block
    font-size: 12px
    padding-top: 0px
    
    .user-info
      float: right
    