body
  font-family: Helvetica, Arial
  margin: 0px
  margin-top: 0px
  
  #wrapper
    width: 960px
    margin: 0 25% 0 auto
    
    #header
      border-bottom: 3px solid black
      
      h1
        color: green
      
      .user
        color: red
        float: right
        