body
  font-family: Helvetica, Arial
  margin: 0px
  margin-top: 0px
  
  #center-flash
    position: absolute
    left: 25%
    right: 25%
    z-index: 100
    margin: auto
    top: 25%
    width: 300px
    height: 100px
    background: red
    color: white
    padding: 10px
    display: none
  
  #top-flash
    position: absolute
    height: 25px
    border-bottom: 2px solid #737373
    background: green
    color: white
    width: 100%
    z-index: 100
    top: 0px
    left: 0px
    opacity: 0.8
    display: none
    
    p
      display: inline
      color: white
      margin: 0px
    
    h4
      display: inline
      margin-right: 10px
      margin: 10px 10px 1px 10px
      
    span
      position: relative
      right: 0px
      border:1px solid white
      padding: 5px
      color: white
      
  .clear
    clear: both
  
  #wrapper
    width = !min_width
    margin: 0 auto
    
    #header
      
      h1
        color: green
        width: 900px
        float: left
        
        a:link,
        a:visited
          color: green
          text-decoration: none
          
      form
        float: right
        margin-top: -17px
        
        input
          background: #FFF4BF
          padding: 5px
          border: 1px solid #e9e9e9
          font-size: 1.07em
          width: 240px
          color: #737373
          +border_radius
        
        input.active
          color: black
          border-color: black
        
        
      #menu
        border-bottom: 3px solid #737373
        
        ul
          display: inline
          margin-left: 0
          padding-left: 0
          
          li.active
            background: orange
            font-size: 18px
            padding: 10px
            overflow: hidden
            
            a:link, a:visited
              color: white
              overflow: hidden
              +text_shadow
          li
            list-style: none
            display: inline
            margin-right: 20px
            +border_radius_big
            
            
            a:link, a:visited
              text-decoration: none
              color = !standard_color
              font-weight: bold
              
            a:hover
              color: black
              
    
  #content
    float: left
    width= !min_width - 260px
  
  a:focus
    outline: 0px

  .tabs  
    width: 300px
    float: right
    text-align: right
    margin-bottom: 20px

    ul
      margin: 0px
      padding: 0px

      li.active
        a:link, a:visited
          background: green
        a:hover
          background: black

      li
        display: inline
        list-style: none
        margin-left: 8px

        a:link, a:visited
          color: white
          background: black
          +border_radius
          padding: 5px
          text-decoration: none
        
        a:hover
          background: green
          
  
  
  
  
  
        