.pagination
  margin-top: 1em
  a:link, a:visited
    padding: 5px
    font-size: 12px
    text-decoration: none
    background = !color_3
    color: white
    +border_radius
  
  a:hover
    background = !color_3_hover
    color: white
  
  span.current
    font-size: 12px
    padding: 5px
    background = !color_4
    color: white
    +border_radius
    font-weight: bold
  
  .disabled
    font-size: 12px
    padding: 5px
    color = !color_5