h2.show-question
  border-bottom: 3px solid #737373
  a:link
    text-decoration: none
    color: #7F5000

  a:visited
    text-decoration: none
    color: #AF6F00

  a:hover
    color: black
    text-decoration: none

.question-header
  h2
    a:link
      text-decoration: none
      color: #7F5000
  
    a:visited
      text-decoration: none
      color: #AF6F00
  
    a:hover
      color: black
      text-decoration: none

    span.tagged
      color: white
      background: green
      font-size: 0.65em
      padding: 10px
      font-style: italic
      +border_radius
    
.question-new,.question-edit
  background: #e9e9e9
  padding: 10px 20px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  
  label
    font-weight: bold
    display: block
    margin-top: 0px
    
  textarea
    border: 1x solid #737373
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    width: 100%
  input.text
    border: 1x solid #737373
    +border_radius
    height: 20px
    width: 100%
    font-weight: bold
    font-size: 14px
  input.tags
    width: 75%
  
  input.save
    background: green
    padding: 10px
    color: white
    font-weight: bold
    border: 0px
    font-size: 14px
    +border_radius
    display: block
    float: right
  input.save:hover
    background: black
.question-header
  border-bottom: 3px solid black
  margin-top: 20px
  
  h2
    float: left
    font-size: 34px
    width = !min_width - 300px
    margin-top: 0px
    margin-bottom: 0px  
    
  

.question
  
  .actions
    float: right
    
    a:link, a:visited
      background: green
      color: white
      padding: 5px
      +border_radius
      text-decoration: none
    
    a:hover
      background: black
  
  .body
    background: #fff
    padding: 10px
    width: 855px
    overflow: auto
    +border_radius
    
    p
      margin-top: 0px
    
    .tags
      margin-bottom: 10px
      margin-top: 10px

      a:link, a:visited
        float: left
        text-decoration: none
        color: white
        margin-right: 10px
        padding: 5px
        background = !question_tags_color
        +border_radius
        font-size: 12px
        
      a:hover
        background: black
    
    .user
      float: right
      font-size: 12px
      background: #fff5e1
      padding: 5px
      margin: 5px
      margin-right: 0px
      +border_radius
      
      a:link, a:visited
        color: green
        font-weight: bold
        text-decoration: none
      
      a:hover
        color: black
        font-weight: bold
        text-decoration: underline
      
      img
        margin-right: 5px
      
    .edit
      float: right
      margin-top: 1em
      
      a:link,
      a:visited
        background: green
        color: white
        +border_radius
        text-decoration: none
        padding: 5px
      a:hover
        background: black
  
.question-list
  
  background: #e9e9e9
  background = !bg1
  +border_radius
  padding: 5px 5px 5px 0px
  margin-bottom: 10px
  
  .body
  
    h3
      margin-top: 0px
      a:link
        text-decoration: none
        color: #7F5000

      a:visited
        text-decoration: none
        color: #AF6F00

      a:hover
        color: black
        text-decoration: underline

    .user
      float: right
      font-size: 12px
      text-align: right
      padding: 5px
      background: #e9e9e9
      +border_radius
      
      img
        margin-bottom: 5px
        border: 0px
        
      a:link, a:visited
        text-decoration: none
        color: green
        font-weight: bold
      
      a:hover
        color: black
        text-decoration: underline
    
    .tags
      
      a:link, a:visited
        font-size: 12px
        text-decoration: none
        background = !question_tags_color
        +border_radius 
        color: white
        padding: 5px
      
      a:hover
        background = !question_tags_color * 0.8
