#sidebar
  float: left
  width: 300px
  padding: 10px
  background: #f4f4f4
  margin-top: 30px
  margin-left: 10px
  
  h3
    margin-top: 0px
    
  a:link, a:visited
    color: black
    text-decoration: none
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    background: green
    padding: 5px
    font-size: 12px
    color: white
    float: left
    margin: 2px
    
  a:hover
    background: black
    