.tag-list
  margin-top: 10px
  
  .tag
    padding: 5px
    float: left
    margin-bottom: 10px
    color: black
    
    a:link, a:visited
      text-decoration: none
      color: white
      background = !color_2
      padding: 5px
      +border_radius
    
      a:hover
        background = !color_2_hover
  
  a:link, a:visited
    text-decoration: none
    color: white
    background = !color_2
    padding: 5px
    +border_radius

  a:hover
    background: black !important