.tag-search
  input
    +border_radius
    padding: 5px
    border: 1px solid #e9e9e9
    background: #f4f4f4
    color = !color_2
    font-weight: bold

a.tag:link, 
a.tag:visited,
#sidebar a.tag:link, 
#sidebar a.tag:visited
  text-decoration: none
  font-weight: normal
  font-size: 12px
  color: #ffffff
  padding: 5px
  +border_radius
  margin: 4px 4px 0px 0px
  float: left
  background: #C75D00
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#A85500), to(#853e00))
  background: -moz-linear-gradient(#A85500, #853e00)
  background: linear-gradient(#A85500, #853e00)
a.tag:hover,
#sidebar a.tag:hover
  background = $color_2_hover
