
.user-header
  margin-top: 20px
  .image
    width: 100px
    float: left
    
    .stats
      margin-top: 10px
      background: green
      padding: 5px
      color: white
      width: 100%
      
      h3
        margin: 0px
        margin-bottom: 10px
        text-shadow: 2px 2px 5px black
        
    
    img
      border: 1px solid #e9e9e9
      padding: 5px
      
  .info
    float: left
    background: #e9e9e9
    width: 550px
    margin: 10px
    margin-top: 0px
    margin-left: 20px
    padding: 10px
    
    h2
      margin: 0px
  

.user-list
  .user-item
    float: left
    background: #e9e9e9
    padding: 10px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    margin: 10px 10px 0px 0px
    
    a:link, a:visited
      text-decoration: none
      color: green
      
    a:hover
      text-decoration: underline
      color: black