#user
  background: url(../images/bg_dark.jpg)
  padding: 10px
  color = !color_2
  text-align: right
  font-size: 12px
  
  a:link, a:visited
    text-decoration: none
    color = $color_2 * 1.4
    font-size: 12px
    text-decoration: underline
    
  a:hover
    color = #fff
    text-decoration: underline
    
    img
      border: 0px

.user-search
  input
    +border_radius
    padding: 5px
    border: 1px solid #e9e9e9
    background: #f4f4f4
    color = !color_2
    font-weight: bold

form.user
  img
    width: 100px
    float: left
    +image_border
    padding: 5px
    clear: both
    margin-bottom: 10px
    
  div.label
    display: inline
    font-weight: bold

    div.field_with_errors
      display: inline
      
  div.text_field
    margin-bottom: 15px
    
    input
      +border_radius
      border-width: 1px
      border-color: $color_5
      padding: 5px
      &.tags
        width: 400px

.user-questions
  h2
    font-size: 24px !important

  h4
    margin: 0px
    padding: 0px
    margin-bottom: 1em
    
    span
      margin-right: 5px
      background = !color_2
      color: white
      padding: 5px
      float: left

    a
      &:link,
      &:visited
        color = !color_1
        text-decoration: none
        font-size: 14px
      &:hover
        color: black
        text-decoration: underline
        
      &.remove
        color: red
        font-size: 12px

      
.user-header
  
  img
    width: 100px
    float: left
    +image_border
    padding: 5px
    clear: both

  p
    font-size: 1.5em
    font-weight: bold
    float: left
    height: 100px
    vertical-align: middle
    text-align: center
    margin-left: 10px 
    
    span
      font-size: 2em
      color = !color_2
      
.user-list
  margin-top: 2em
  
  .no-result
    display: none
      
  .user-item
    float: left
    background: #e9e9e9
    padding: 10px
    +border_radius
    margin: 10px 10px 0px 0px
    
    img
      margin-right: 5px
    
    a:link, a:visited
      text-decoration: none
      color = !standard_color
      
    a:hover
      text-decoration: underline
      color = !standard_color * 1.2