.user-list
  .user-item
    float: left
    background: #e9e9e9
    padding: 10px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    margin: 10px 10px 0px 0px
    
    a:link, a:visited
      text-decoration: none
      color: green
      
    a:hover
      text-decoration: underline
      color: black