@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kieran\/rails3\/smartr\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\000032}}
.admin div.votes {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #e9e9e9; }
