h2.answer-header {
  border-bottom: 3px solid #737373; }

.answer-item {
  border-bottom: 1px dotted black; }
  .answer-item .counter {
    font-weight: bold; }
  .answer-item .body {
    float: left;
    width: 630px;
    margin-top: 5px;
    margin-bottom: 5px; }
    .answer-item .body .user {
      float: right;
      font-size: 12px;
      background: #f4f4f4;
      margin: 5px;
      padding: 5px;
      margin-right: 0px; }
      .answer-item .body .user a:link, .answer-item .body .user a:visited {
        text-decoration: none;
        color: black; }
      .answer-item .body .user a:hover {
        color: green; }
