.answer-edit {
  background: #FFF5E1;
  padding: 10px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .answer-edit h2 {
    margin: 0px;
    margin-bottom: 20px; }
  .answer-edit label {
    font-weight: bold;
    display: block;
    margin-top: 0px; }
  .answer-edit textarea {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%; }
  .answer-edit input.text {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 14px; }
  .answer-edit input.save {
    background: green;
    padding: 10px;
    color: white;
    border: 0px;
    font-size: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    float: right; }

h2.answer-header {
  border-bottom: 3px solid #737373; }

.answer-item {
  border-bottom: 1px dotted black; }
  .answer-item .counter {
    font-weight: bold; }
  .answer-item .body {
    float: left;
    width: 630px;
    margin-top: 5px;
    margin-bottom: 5px; }
    .answer-item .body .user {
      float: right;
      font-size: 12px;
      background: #f4f4f4;
      margin: 5px;
      padding: 5px;
      margin-right: 0px; }
      .answer-item .body .user a:link, .answer-item .body .user a:visited {
        text-decoration: none;
        color: black; }
      .answer-item .body .user a:hover {
        color: green; }
        .answer-item .body .user a:hover img {
          border: 0px; }
