body {
  font-family: Helvetica, Arial;
  margin: 0px;
  margin-top: 0px; }
  body .clear {
    clear: both; }
  body #wrapper {
    width: 960px;
    margin: 0 auto; }
    body #wrapper #header h1 {
      color: green;
      width: 600px;
      float: left; }
      body #wrapper #header h1 a:link,
      body #wrapper #header h1 a:visited {
        color: green;
        text-decoration: none; }
    body #wrapper #header #user {
      color: red;
      float: right;
      background: #f4f4f4;
      padding: 10px;
      width: 220px;
      -moz-box-shadow: #e9e9e9 2px 2px 10px;
      -webkit-box-shadow: #e9e9e9 2px 2px 10px;
      margin-top: 10px; }
    body #wrapper #header #menu {
      border-bottom: 3px solid #737373;
      width: 700px; }
      body #wrapper #header #menu ul {
        display: inline;
        margin-left: 0;
        padding-left: 0; }
        body #wrapper #header #menu ul li.active {
          background: green;
          font-size: 18px;
          padding: 10px;
          overflow: hidden; }
          body #wrapper #header #menu ul li.active a:link, body #wrapper #header #menu ul li.active a:visited {
            color: white;
            overflow: hidden; }
        body #wrapper #header #menu ul li {
          list-style: none;
          display: inline;
          margin-right: 20px; }
          body #wrapper #header #menu ul li a:link, body #wrapper #header #menu ul li a:visited {
            text-decoration: none;
            color: green;
            font-weight: bold; }
          body #wrapper #header #menu ul li a:hover {
            color: black; }
  body #content {
    float: left;
    width: 700px; }
  body a:focus {
    outline: 0px; }

.question-header {
  border-bottom: 3px solid black;
  margin-top: 0px; }
  .question-header h1 {
    float: left;
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .question-header .tabs {
    width: 300px;
    float: right;
    text-align: right; }
    .question-header .tabs ul {
      margin: 0px;
      padding: 0px; }
      .question-header .tabs ul li {
        display: inline;
        list-style: none;
        margin-right: 10px; }
        .question-header .tabs ul li a:link, .question-header .tabs ul li a:visited {
          color: white;
          background: black;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          padding: 5px;
          text-decoration: none; }

.question {
  background: #f4f4f4;
  padding: 10px; }
  .question .tags {
    margin-bottom: 10px;
    margin-top: 10px; }
    .question .tags a:link, .question .tags a:visited {
      float: left;
      text-decoration: none;
      background: green;
      color: white;
      margin-right: 10px;
      padding: 5px;
      background: orange;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
    .question .tags a:hover {
      background: black; }
  .question .body .user {
    float: right;
    font-size: 12px; }

.question-list {
  background: #f4f4f4;
  padding: 5px 0px 5px 0px;
  margin-bottom: 10px; }
  .question-list .body h3 {
    margin-top: 0px; }
    .question-list .body h3 a:link {
      text-decoration: none;
      color: #7F5000; }
    .question-list .body h3 a:visited {
      text-decoration: none;
      color: #AF6F00; }
    .question-list .body h3 a:hover {
      color: black;
      text-decoration: underline; }
    .question-list .body h3 .user {
      float: right;
      font-size: 12px;
      text-align: right;
      padding: 5px; }
  .question-list .body .tags a:link, .question-list .body .tags a:visited {
    font-size: 12px;
    text-decoration: none;
    background: orange;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    padding: 5px; }
  .question-list .body .tags a:hover {
    background: black; }

#errorExplanation {
  border: 3px solid red;
  padding: 10px;
  margin: 10px 0px 20px 0px;
  -moz-box-shadow: red 2px 2px 10px;
  -webkit-box-shadow: red 2px 2px 10px; }
  #errorExplanation h2 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold; }
  #errorExplanation li {
    list-style: square; }

#sidebar {
  float: left;
  width: 230px;
  padding: 10px;
  background: #f4f4f4;
  margin-top: 30px;
  margin-left: 10px; }
  #sidebar .user {
    margin-top: 10px;
    background: #ffff99;
    padding: 5px; }
    #sidebar .user a:link, #sidebar .user a:visited {
      background: none;
      color: green; }
    #sidebar .user a:hover {
      text-decoration: underline; }
    #sidebar .user img {
      margin-right: 5px; }
  #sidebar a:link, #sidebar a:visited {
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: green;
    padding: 5px;
    font-size: 16px;
    color: white;
    width: 100%; }
  #sidebar h3 {
    margin-top: 20px; }
  #sidebar .tags a:link, #sidebar .tags a:visited {
    color: black;
    width: auto;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: green;
    padding: 5px;
    font-size: 12px;
    color: white;
    float: left;
    margin: 2px; }
  #sidebar .tags a:hover {
    background: black; }

.answer-item {
  margin-bottom: 5px;
  background: #e9e9e9;
  padding: 5px; }
  .answer-item .counter {
    font-weight: bold; }
  .answer-item .body .user {
    float: right;
    font-size: 12px; }

.stats div {
  width: 50px;
  height: 44px;
  font-size: 25px;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  float: left;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  line-height: 23px; }
  .stats div span.desc {
    font-size: 12px;
    display: block; }
.stats .votes {
  background: #FFE9CF; }
.stats .views {
  background: #cfcfcf; }
.stats .answers {
  background: #2F6F00;
  color: white; }
  .stats .answers span.desc {
    font-size: 10px; }

.answer-item .stats div.votes {
  width: 50px;
  height: 54px;
  font-size: 12px;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  float: left;
  margin-right: 10px;
  padding: 0px; }
  .answer-item .stats div.votes div.value {
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: auto; }
  .answer-item .stats div.votes a:link, .answer-item .stats div.votes a:visited {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px; }
  .answer-item .stats div.votes a:link, .answer-item .stats div.votes a:visited.up {
    color: green; }
  .answer-item .stats div.votes a:link, .answer-item .stats div.votes a:visited.down {
    color: #9F0000; }
  .answer-item .stats div.votes a:hover, .answer-item .stats div.votes a.up:hover, .answer-item .stats div.votes a.down:hover {
    color: black;
    text-shadow: #737373 0px 0px 5px; }

.tag-list .tag {
  padding: 5px;
  float: left;
  margin-bottom: 10px; }
  .tag-list .tag a:link, .tag-list .tag a:visited {
    text-decoration: none;
    color: white;
    background: green;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
  .tag-list .tag a:hover {
    background: black; }
