body {
  font-family: Helvetica, Arial;
  margin: 0px;
  margin-top: 0px; }
  body .clear {
    clear: both;
    line-height: 0px; }
  body #wrapper {
    width: 1200px;
    margin: 0 auto; }
    body #wrapper #header h1 {
      color: #383838;
      width: 900px;
      float: left;
      font-weight: normal;
      font-size: 24px;
      margin-bottom: 0px; }
      body #wrapper #header h1 a:link,
      body #wrapper #header h1 a:visited {
        color: #383838;
        text-decoration: none; }
      body #wrapper #header h1 a:hover {
        text-decoration: underline; }
    body #wrapper #header form {
      float: right; }
      body #wrapper #header form input {
        background: #eeeeee;
        padding: 5px;
        border: 1px solid #e9e9e9;
        font-size: 1.07em;
        width: 230px;
        color: #738500;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
      body #wrapper #header form input.active {
        color: #738500;
        border-color: black; }
    body #wrapper #header #menu {
      display: inline;
      margin-top: -20px; }
      body #wrapper #header #menu ul {
        display: inline;
        margin-left: 0;
        padding-left: 0; }
        body #wrapper #header #menu ul li.active {
          background: #738500; }
        body #wrapper #header #menu ul li {
          background: #313900;
          list-style: none;
          display: inline;
          margin-right: 10px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          padding: 10px;
          line-height: 34px;
          text-shadow: 1px 1px 1px #444444;
          padding-top: 17px;
          vertical-align: middle; }
          body #wrapper #header #menu ul li a:link, body #wrapper #header #menu ul li a:visited {
            font-size: 24px;
            text-decoration: none;
            color: white;
            font-weight: bold;
            line-height: 10px; }
        body #wrapper #header #menu ul li:hover {
          background: black; }
  body #content {
    float: left;
    width: 940px; }
    body #content input.active {
      color: #738500;
      border-color: black; }
    body #content h2 {
      margin: 0px;
      display: block;
      font-size: 34px;
      margin-bottom: 10px;
      margin-top: 30px;
      border-bottom: 3px solid #000; }
    body #content form div.error {
      color: #7F0000; }
      body #content form div.error div.formError {
        font-size: 12px;
        color: #7F0000;
        font-weight: bold;
        width: 100%; }
      body #content form div.error input {
        border-color: #7F0000; }
      body #content form div.error textarea {
        border-color: #7F0000; }
  body a:focus {
    outline: 0px; }
  body .tabs {
    width: 300px;
    float: right;
    text-align: right;
    margin-bottom: 2px;
    position: relative;
    z-index: 100;
    background: white; }
    body .tabs ul {
      margin: 0px;
      padding: 0px;
      margin-right: 10px; }
      body .tabs ul li.active a {
        padding-bottom: 6px; }
      body .tabs ul li.active a:link, body .tabs ul li.active a:visited {
        background: white;
        color: #738500;
        padding-bottom: 6px; }
      body .tabs ul li.active a:hover {
        background: white;
        color: black;
        padding-bottom: 6px; }
      body .tabs ul li {
        display: inline;
        list-style: none;
        margin-left: 8px; }
        body .tabs ul li a {
          border-top: 1px solid black;
          border-right: 2px solid black;
          border-left: 1px solid black;
          font-size: 13px;
          font-weight: bold; }
        body .tabs ul li a:link, body .tabs ul li a:visited {
          color: #737373;
          padding: 5px;
          text-decoration: none; }
        body .tabs ul li a:hover {
          color: black; }

h2.show-question {
  margin-top: 30px;
  margin-bottom: 30px !important;
  display: block !important; }
  h2.show-question a:link, h2.show-question a:visited {
    text-decoration: none;
    color: #738500;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px; }
  h2.show-question a:hover {
    text-decoration: none;
    color: black; }

.question-header {
  position: relative;
  margin-top: 45px !important;
  margin-bottom: 10px; }
  .question-header h2 {
    position: absolute;
    bottom: 0;
    border: 0px !important;
    display: inline;
    margin: 0px !important; }
    .question-header h2 a:link {
      text-decoration: none;
      color: black; }
    .question-header h2 a:visited {
      text-decoration: none;
      color: decoration; }
    .question-header h2 a:hover {
      color: black;
      text-decoration: none; }
    .question-header h2 span.tagged {
      color: #853e00;
      font-size: 18px;
      font-style: italic; }

.question-new, .question-edit {
  background: #e9e9e9;
  padding: 10px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .question-new h3, .question-edit h3 {
    margin-bottom: 0.35em; }
  .question-new label, .question-edit label {
    font-weight: bold;
    display: block;
    margin-top: 0px; }
  .question-new textarea, .question-edit textarea {
    border: 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    border-color: #383838;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-right: 0px; }
  .question-new input.text, .question-edit input.text {
    border: 1px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    padding-right: 0px; }
  .question-new input.tags, .question-edit input.tags {
    width: 75%; }
  .question-new input.save, .question-edit input.save {
    background: #738500;
    padding: 7px;
    color: white;
    font-weight: bold;
    border: 0px;
    font-size: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    float: right; }
  .question-new input.save:hover, .question-edit input.save:hover {
    background: black; }

.question-header {
  border-bottom: 3px solid black;
  margin-top: 20px; }
  .question-header h2 {
    float: left;
    font-size: 34px;
    width: 900px;
    margin-top: 0px;
    margin-bottom: 0px; }

.question .actions {
  float: right; }
  .question .actions a:link, .question .actions a:visited {
    background: green;
    color: white;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none; }
  .question .actions a:hover {
    background: black; }
.question .body {
  background: #fff;
  padding: 10px;
  width: 855px;
  overflow: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .question .body a:link, .question .body a:visited {
    padding: 5px;
    font-weight: normal;
    line-height: 25px;
    color: #738500; }
  .question .body a:hover {
    color: black; }
  .question .body p {
    margin-top: 0px; }
  .question .body pre code {
    padding: 5px;
    overflow: auto; }
  .question .body .user {
    font-size: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff5e1;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 20px; }
    .question .body .user a:link, .question .body .user a:visited {
      color: #738500;
      font-weight: bold;
      text-decoration: none; }
    .question .body .user a:hover {
      color: black;
      font-weight: bold;
      text-decoration: underline; }
    .question .body .user img {
      margin-right: 5px; }
    .question .body .user .tags {
      margin-bottom: 5px; }
      .question .body .user .tags a:link, .question .body .user .tags a:visited {
        text-decoration: none;
        color: white;
        font-weight: normal;
        padding: 5px;
        background: #853e00;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        font-size: 12px; }
      .question .body .user .tags a:hover {
        background: black; }
  .question .body .edit {
    float: right;
    margin-top: 1em; }
    .question .body .edit a:link,
    .question .body .edit a:visited {
      background: #738500;
      color: white;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      text-decoration: none;
      padding: 5px; }
    .question .body .edit a:hover {
      background: black; }

.question-list {
  padding: 5px 0px 5px 0px;
  border-bottom: 1px dotted #333; }
  .question-list .body {
    margin-left: 21%; }
    .question-list .body h3 {
      margin-top: 0px; }
      .question-list .body h3 a:link {
        text-decoration: none;
        color: #313900; }
      .question-list .body h3 a:visited {
        text-decoration: none;
        color: #313900; }
      .question-list .body h3 a:hover {
        color: black;
        text-decoration: underline; }
    .question-list .body .user {
      float: right;
      font-size: 12px;
      text-align: right;
      padding: 5px; }
      .question-list .body .user img {
        border: 0px; }
      .question-list .body .user a:link, .question-list .body .user a:visited {
        text-decoration: none;
        color: #738500;
        font-weight: bold; }
      .question-list .body .user a:hover {
        color: black;
        text-decoration: underline; }
    .question-list .body .tags a:link, .question-list .body .tags a:visited {
      font-size: 12px;
      text-decoration: none;
      background: #853e00;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      color: white;
      padding: 5px; }
    .question-list .body .tags a:hover {
      background: black; }

#errorExplanation {
  padding: 10px;
  margin: 10px 0px 20px 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #853e00;
  color: white; }
  #errorExplanation h2 {
    margin-top: 0px !important;
    font-size: 26px !important;
    text-shadow: 1px 1px 1px #444444;
    font-weight: bold;
    border: 0px !important; }
  #errorExplanation li {
    list-style: square; }

#sidebar {
  float: left;
  width: 240px;
  padding: 10px;
  padding-top: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-left: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #sidebar .guide {
    background: #ffdaaf;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    color: black; }
    #sidebar .guide h3 {
      margin-top: 0px;
      color: #381a00; }
  #sidebar a.new_question:link, #sidebar a.new_question:visited {
    background: #bc330d;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -8px;
    -webkit-animation-name: redPulse;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    border: 1px solid #bc330d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  #sidebar a.new_question:hover {
    border: 1px solid black; }
  #sidebar .facets {
    font-size: 12px; }
    #sidebar .facets a:link, #sidebar .facets a:visited {
      background: none;
      color: black; }
    #sidebar .facets a:hover {
      text-decoration: underline; }
  #sidebar .user {
    margin-top: 10px;
    background: #ffff99;
    padding: 5px; }
    #sidebar .user a:link, #sidebar .user a:visited {
      background: none;
      color: green; }
    #sidebar .user a:hover {
      text-decoration: underline; }
    #sidebar .user img {
      margin-right: 5px; }
  #sidebar a:link, #sidebar a:visited {
    text-decoration: none;
    background: #313900;
    padding: 5px;
    font-size: 16px;
    color: white;
    width: 100%; }
  #sidebar h3 {
    margin-top: 20px;
    margin-bottom: 5px; }
  #sidebar .tags a:link, #sidebar .tags a:visited {
    color: black;
    width: auto;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #853e00;
    padding: 5px;
    font-size: 12px;
    color: white;
    float: left;
    margin: 2px; }
  #sidebar .tags a:hover {
    background: black; }

.answer-edit {
  background: #FFF5E1;
  padding: 10px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative; }
  .answer-edit a.cancel:link, .answer-edit a.cancel:visited {
    background: #853e00;
    padding: 7px;
    color: white;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    position: relative;
    left: 0px;
    font-size: 14px;
    bottom: -8px; }
  .answer-edit a.cancel:hover {
    background: black; }
  .answer-edit h2 {
    margin: 0px;
    margin-bottom: 20px; }
  .answer-edit label {
    font-weight: bold;
    display: block;
    margin-top: 0px; }
  .answer-edit textarea {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 890px; }
  .answer-edit input.text {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 14px; }
  .answer-edit input.save {
    float: right;
    background: #738500;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    border: 0px;
    font-size: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    font-weight: bold; }
  .answer-edit input.save:hover {
    background: black; }

h2.answer-header {
  border-bottom: 3px solid #737373; }

.answer-item {
  border-bottom: 1px dotted black;
  padding: 10px 0px; }
  .answer-item .stats {
    float: left; }
    .answer-item .stats .status a {
      display: block;
      width: 44px;
      height: 45px;
      padding: 0px;
      background: url(../images/unchecked.png) no-repeat 0 0;
      color: white; }
    .answer-item .stats .status a.accepted {
      background: url(../images/checked.png) no-repeat 0 0; }
  .answer-item .counter {
    font-weight: bold; }
  .answer-item .body {
    float: left;
    width: 875px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: auto; }
    .answer-item .body pre code {
      padding: 5px;
      overflow: auto; }
    .answer-item .body a:link, .answer-item .body a:visited {
      padding: 5px;
      font-weight: normal;
      line-height: 25px;
      color: #738500; }
    .answer-item .body a:hover {
      color: black; }
    .answer-item .body a.edit:link, .answer-item .body a.edit:visited {
      background: #738500;
      color: white;
      padding: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      text-decoration: none;
      font-weight: normal;
      line-height: 25px; }
    .answer-item .body a.edit:hover {
      background: black; }
    .answer-item .body p {
      margin-bottom: 1em;
      margin-top: 0px; }
    .answer-item .body .user {
      float: right;
      font-size: 12px;
      background: #f4f4f4;
      margin: 5px;
      padding: 5px;
      margin-right: 0px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
      .answer-item .body .user img {
        margin-right: 0px; }
      .answer-item .body .user a:link, .answer-item .body .user a:visited {
        text-decoration: none;
        color: #738500;
        background: none;
        font-weight: bold; }
      .answer-item .body .user a:hover {
        color: black; }
        .answer-item .body .user a:hover img {
          border: 0px; }

.stats {
  margin-top: 5px; }
  .stats div {
    width: 50px;
    height: 44px;
    font-size: 25px;
    font-weight: bold;
    vertical-align: center;
    text-align: center;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    line-height: 23px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .stats div span.desc {
      font-size: 12px;
      display: block; }
  .stats .votes {
    background: #dadada; }
  .stats .views {
    background: #383838;
    color: white; }
  .stats .answers {
    background: #738500;
    color: white; }
    .stats .answers span.desc {
      font-size: 10px; }
  .stats .answered {
    color: #ffff99; }
    .stats .answered span.desc {
      color: white; }
  .stats .zero {
    background: #381a00; }
    .stats .zero span.desc {
      font-size: 10px; }

.answer-item .stats div.status, .question .stats div.status {
  clear: left;
  font-size: 10px; }
.answer-item .stats div.views, .question .stats div.views {
  clear: left;
  margin-bottom: 10px;
  background: white;
  color: #383838; }
.answer-item .stats div.favourite, .question .stats div.favourite {
  font-size: 60px;
  font-weight: bold;
  display: inline;
  padding: 0px;
  clear: left; }
  .answer-item .stats div.favourite a:link, .answer-item .stats div.favourite a:visited, .question .stats div.favourite a:link, .question .stats div.favourite a:visited {
    color: black;
    text-decoration: none; }
  .answer-item .stats div.favourite a:hover, .question .stats div.favourite a:hover {
    color: orange;
    text-shadow: 0px 0px 10px orange; }
.answer-item .stats div.votes, .question .stats div.votes {
  width: 50px;
  background: white;
  height: 74px;
  font-size: 12px;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  float: left;
  margin-right: 10px;
  padding: 0px; }
  .answer-item .stats div.votes div.value, .question .stats div.votes div.value {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 36px;
    height: auto;
    text-align: center;
    margin-top: 5px; }
  .answer-item .stats div.votes a.up:link, .answer-item .stats div.votes a:visited.up, .question .stats div.votes a.up:link, .question .stats div.votes a:visited.up {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-up.png) no-repeat center top;
    display: block;
    text-decoration: none;
    text-align: center;
    opacity: 0.8; }
  .answer-item .stats div.votes a.down:link, .answer-item .stats div.votes a:visited.down, .question .stats div.votes a.down:link, .question .stats div.votes a:visited.down {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-down.png) no-repeat center bottom;
    display: block;
    text-decoration: none;
    clear: both;
    text-align: center;
    opacity: 0.8; }
  .answer-item .stats div.votes a.up:hover, .answer-item .stats div.votes a.down:hover, .question .stats div.votes a.up:hover, .question .stats div.votes a.down:hover {
    opacity: 1.0; }
  .answer-item .stats div.votes a.up-neutral:link, .answer-item .stats div.votes a.up-neutral:visited, .question .stats div.votes a.up-neutral:link, .question .stats div.votes a.up-neutral:visited {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-up-neutral.png) no-repeat center top;
    display: block;
    text-decoration: none;
    clear: both;
    text-align: center;
    opacity: 0.8; }
  .answer-item .stats div.votes a.down-neutral:link, .answer-item .stats div.votes a.down-neutral:visited, .question .stats div.votes a.down-neutral:link, .question .stats div.votes a.down-neutral:visited {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-down-neutral.png) no-repeat center bottom;
    text-decoration: none;
    clear: both;
    text-align: center;
    opacity: 0.8;
    display: block; }
  .answer-item .stats div.votes a.down-neutral:hover, .answer-item .stats div.votes a.up-neutral:hover, .question .stats div.votes a.down-neutral:hover, .question .stats div.votes a.up-neutral:hover {
    opacity: 1.0; }

.tag-search input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #e9e9e9;
  background: #f4f4f4;
  color: #738500;
  font-weight: bold; }

.tag-list {
  margin-top: 10px; }
  .tag-list .tag {
    padding: 5px;
    float: left;
    margin-bottom: 10px;
    color: black; }
    .tag-list .tag a:link, .tag-list .tag a:visited {
      text-decoration: none;
      color: white;
      background: #853e00;
      padding: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
      .tag-list .tag a:link a:hover, .tag-list .tag a:visited a:hover {
        background: black; }
  .tag-list a:link, .tag-list a:visited {
    text-decoration: none;
    color: white;
    background: #738500;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  .tag-list a:hover {
    background: black !important; }

.pagination {
  margin-top: 1em;
  border-bottom: 3px solid black;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px; }
  .pagination a {
    border-top: 1px solid black;
    border-right: 2px solid black;
    border-left: 1px solid black;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 2px; }
  .pagination a:link, .pagination a:visited {
    font-size: 12px;
    text-decoration: none;
    background: white;
    color: #738500; }
  .pagination a:hover {
    color: black; }
  .pagination a.prev_page, .pagination a.next_page {
    padding: 5px;
    border: 0px;
    background: none; }
  .pagination span.current {
    border-top: 1px solid black;
    border-right: 2px solid black;
    border-left: 1px solid black;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 5px;
    background: white;
    font-size: 12px;
    position: relative;
    z-index: 100; }
  .pagination .disabled {
    font-size: 12px;
    padding: 5px;
    color: #c7c7c7; }

#user {
  color: #738500;
  float: right;
  text-align: right;
  width: 220px;
  margin-bottom: 1em;
  margin-top: 0.5em;
  font-size: 12px; }
  #user a:link, #user a:visited {
    text-decoration: none;
    color: #738500;
    font-size: 12px;
    text-decoration: underline; }
  #user a:hover {
    color: #313900;
    text-decoration: underline; }

.user-search input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #e9e9e9;
  background: #f4f4f4;
  color: #738500;
  font-weight: bold; }

.user-header {
  position: relative;
  margin-top: 45px !important;
  margin-bottom: 10px;
  border-bottom: 3px solid black; }
  .user-header .tabs {
    width: 500px; }
  .user-header h2 {
    position: absolute;
    bottom: 0;
    border: 0px !important;
    display: inline;
    margin: 0px !important; }
    .user-header h2 a:link {
      text-decoration: none;
      color: black; }
    .user-header h2 a:visited {
      text-decoration: none;
      color: decoration; }
    .user-header h2 a:hover {
      color: black;
      text-decoration: none; }
    .user-header h2 span.tagged {
      color: #853e00;
      font-size: 18px;
      font-style: italic; }

#new_user_session label {
  color: #738500;
  font-weight: bold;
  font-size: 0.8em; }
#new_user_session input {
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  background: #f4f4f4; }
#new_user_session #user_session_submit {
  background: #738500;
  border-color: #313900;
  -moz-box-shadow: 2px 2px 2px #737373;
  -webkit-box-shadow: 2px 2px 2px #737373;
  box-shadow: 2px 2px 2px #737373;
  outline: none;
  color: white; }
#new_user_session #user_session_submit:focus {
  -moz-box-shadow: 0px 0px 1px #737373;
  -webkit-box-shadow: 0px 0px 1px #737373;
  box-shadow: 0px 0px 1px #737373;
  outline: none; }

.user-header {
  margin-top: 20px; }
  .user-header .image {
    width: 100px;
    float: left; }
    .user-header .image .stats {
      margin-top: 10px;
      background: #a87300;
      padding: 5px;
      color: white;
      width: 100%;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
      .user-header .image .stats h3 {
        margin: 0px;
        margin-bottom: 10px;
        text-shadow: 2px 2px 5px black; }
    .user-header .image img {
      border: 1px solid #e9e9e9;
      padding: 5px; }
  .user-header .info {
    float: left;
    background: #e9e9e9;
    width: 750px;
    margin: 10px;
    margin-top: 0px;
    margin-left: 20px;
    padding: 10px; }

.user-list {
  margin-top: 2em; }
  .user-list .no-result {
    display: none; }
  .user-list table {
    width: 100%; }
    .user-list table tr:hover td {
      background: #FFF4BF; }
    .user-list table th {
      border-bottom: 3px solid black;
      font-weight: bold;
      font-size: 16px;
      text-align: left;
      padding: 10px;
      padding-bottom: 3px;
      color: black;
      font-size: 1.5em; }
    .user-list table th.number {
      text-align: right;
      color: black; }
    .user-list table td {
      padding: 10px;
      border-bottom: 1px dashed #e9e9e9; }
    .user-list table td.link {
      font-size: 1.5em; }
      .user-list table td.link a:link,
      .user-list table td.link a:visited {
        color: #738500; }
      .user-list table td.link a:hover {
        color: black; }
    .user-list table td.avatar img {
      padding: 5px;
      border: 1px solid #e9e9e9; }
    .user-list table td.number {
      font-size: 3em;
      text-align: right;
      color: black;
      font-weight: bold; }
  .user-list .user-item {
    float: left;
    background: #e9e9e9;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 10px 0px 0px; }
    .user-list .user-item img {
      margin-right: 5px; }
    .user-list .user-item a:link, .user-list .user-item a:visited {
      text-decoration: none;
      color: #4e7700; }
    .user-list .user-item a:hover {
      text-decoration: underline;
      color: #5d8e00; }

.comments {
  background-color: white;
  padding-left: 5px; }
  .comments h3 {
    margin-bottom: 0.1em;
    color: #383838; }
  .comments .comment-new {
    float: right;
    margin-right: 10px; }
    .comments .comment-new textarea {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 2px; }
    .comments .comment-new a.cancel:link, .comments .comment-new a.cancel:visited {
      color: white;
      background: #853e00;
      padding: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      float: left;
      margin-left: 0px;
      padding-top: 4px;
      padding-bottom: 3px; }
    .comments .comment-new a.cancel:hover, .comments .comment-new input.save:hover {
      background: black; }
    .comments .comment-new input.save {
      background: #738500;
      color: white;
      padding: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: none;
      float: right;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-top: 10px;
      font-size: 12px; }
  .comments .comment-item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 1px dotted;
    border-color: #c7c7c7;
    display: block;
    font-size: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: 0px; }
    .comments .comment-item p {
      margin: 0px; }
    .comments .comment-item .user-info {
      float: right;
      margin-bottom: 5px; }
      .comments .comment-item .user-info a:link, .comments .comment-item .user-info a:visited {
        color: #381a00;
        text-decoration: none;
        font-weight: bold; }
      .comments .comment-item .user-info a:hover {
        color: black;
        text-decoration: underline; }
    .comments .comment-item a:link, .comments .comment-item a:visited {
      background: none;
      text-decoration: underline;
      color: red;
      float: none;
      margin: 0px;
      padding: 0px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
  .comments a:link, .comments a:visited {
    float: right;
    margin: 10px;
    text-decoration: none;
    font-size: 12px;
    background: #738500;
    padding: 5px;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  .comments a:hover {
    background: black; }

#footer {
  margin-top: 20px;
  padding: 10px; }

* html #gritter-notice-wrapper {
  position: absolute; }
* html .gritter-top {
  margin-bottom: -10px; }
* html .gritter-item {
  padding-bottom: 0; }
* html .gritter-bottom {
  margin-bottom: 0; }
* html .gritter-close {
  background: url(/images/gritter//gritter-close-ie6.gif);
  width: 22px;
  height: 22px;
  top: 7px;
  left: 7px; }

.gritter-error {
  background: #313900 !important;
  background-image: none !important; }
  .gritter-error .gritter-top, .gritter-error .gritter-bottom, .gritter-error .gritter-item {
    background-image: none !important; }

#gritter-notice-wrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 9999; }

.gritter-item-wrapper {
  position: relative;
  margin: 0 0 0 0;
  background: url('.'); }


.hover .gritter-top {
  background-position: right -30px; }

.gritter-bottom {
  margin: 0; }

.hover .gritter-bottom {
  background-position: bottom right; }

.gritter-item {
  display: block;
  background: #853e00;
  color: #eee;
  font-size: 14px;
  border-bottom: 1px solid;
  border-color: #381a00;
  padding: 10px; }


.gritter-item p {
  padding: 0;
  margin: 0;
  margin-left: 30px; }

.gritter-close {
  position: absolute;
  top: 5px;
  left: 3px;
  background: url(/images/gritter/gritter.png) no-repeat left top;
  cursor: pointer;
  width: 30px;
  height: 30px; }

.gritter-title {
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 7px 0;
  display: none;
  text-shadow: 1px 1px #000; }

.gritter-image {
  width: 48px;
  height: 48px;
  float: left; }

.gritter-with-image, .gritter-without-image {
  padding: 0 0 0px 0; }

.gritter-with-image {
  width: 220px;
  float: right; }

.wmd-panel {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  min-width: 500px; }

#wmd-editor {
  background-color: Aquamarine; }

.wmd-button-bar {
  width: 100%;
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  margin-bottom: 3px; }

.wmd-button-bar:hover {
  border: 1px solid #737373; }

.wmd-input {
  height: 500px;
  width: 100%;
  background-color: white;
  border: 1px solid;
  border-color: #383838;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px; }

.wmd-preview {
  width: 100%; }
  .wmd-preview pre code {
    padding: 5px;
    overflow: auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  .wmd-preview a:link, .wmd-preview a:visited {
    padding: 5px;
    font-weight: normal;
    line-height: 25px;
    color: #738500; }
  .wmd-preview a:hover {
    color: black; }

.wmd-output {
  background-color: Pink; }

.wmd-button-row {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;
  height: 20px; }

.wmd-spacer {
  width: 1px;
  height: 20px;
  margin-left: 14px;
  position: absolute;
  background-color: Silver;
  display: inline-block;
  list-style: none; }

.wmd-button {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  background-image: url(/javascripts/wmd/images/wmd-buttons.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: inline-block;
  list-style: none; }
  .wmd-button > a {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
    display: inline-block; }

.wmd-bold-button {
  left: 0px;
  background-position: 0px 0; }

.wmd-italic-button {
  left: 25px;
  background-position: -20px 0; }

.wmd-spacer1 {
  left: 50px; }

.wmd-link-button {
  left: 75px;
  background-position: -40px 0; }

.wmd-quote-button {
  left: 100px;
  background-position: -60px 0; }

.wmd-code-button {
  left: 125px;
  background-position: -80px 0; }

.wmd-image-button {
  left: 150px;
  background-position: -100px 0; }

.wmd-spacer2 {
  left: 175px; }

.wmd-olist-button {
  left: 200px;
  background-position: -120px 0; }

.wmd-ulist-button {
  left: 225px;
  background-position: -140px 0; }

.wmd-heading-button {
  left: 250px;
  background-position: -160px 0; }

.wmd-hr-button {
  left: 275px;
  background-position: -180px 0; }

.wmd-spacer3 {
  left: 300px; }

.wmd-undo-button {
  left: 325px;
  background-position: -200px 0; }

.wmd-redo-button {
  left: 350px;
  background-position: -220px 0; }

.wmd-help-button {
  right: 0px;
  background-position: -240px 0; }

.wmd-prompt-background {
  background-color: Black; }

.wmd-prompt-dialog {
  border: 1px solid #999999;
  background-color: #F5F5F5; }
  .wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif; }
  .wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black; }
  .wmd-prompt-dialog > form > input[type="button"] {
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold; }

.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999; }
  .ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0; }
  .ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    font: menu;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden; }

.ac_loading {
  background: white url('indicator.gif') right center no-repeat; }

.ac_odd {
  background-color: #eee; }

.ac_over {
  background-color: #313900;
  color: white; }
