body {
  font-family: Helvetica, Arial;
  margin: 0px;
  margin-top: 0px; }
  body #center-flash {
    position: absolute;
    left: 25%;
    right: 25%;
    z-index: 100;
    margin: auto;
    top: 25%;
    width: 300px;
    height: 100px;
    background: red;
    color: white;
    padding: 10px;
    display: none; }
  body #top-flash {
    position: absolute;
    height: 25px;
    border-bottom: 2px solid #737373;
    background: green;
    color: white;
    width: 100%;
    z-index: 100;
    top: 0px;
    left: 0px;
    opacity: 0.8;
    display: none; }
    body #top-flash p {
      display: inline;
      color: white;
      margin: 0px; }
    body #top-flash h4 {
      display: inline;
      margin-right: 10px;
      margin: 10px 10px 1px 10px; }
    body #top-flash span {
      position: relative;
      right: 0px;
      padding: 5px;
      color: white; }
  body .clear {
    clear: both; }
  body #wrapper {
    width: 960px;
    margin: 0 auto; }
    body #wrapper #header h1 {
      color: green;
      width: 600px;
      float: left; }
      body #wrapper #header h1 a:link,
      body #wrapper #header h1 a:visited {
        color: green;
        text-decoration: none; }
    body #wrapper #header #user {
      color: red;
      float: right;
      background: #f4f4f4;
      padding: 10px;
      width: 220px;
      -moz-box-shadow: #e9e9e9 2px 2px 10px;
      -webkit-box-shadow: #e9e9e9 2px 2px 10px;
      margin-top: 10px; }
    body #wrapper #header #menu {
      border-bottom: 3px solid #737373;
      width: 700px; }
      body #wrapper #header #menu ul {
        display: inline;
        margin-left: 0;
        padding-left: 0; }
        body #wrapper #header #menu ul li.active {
          background: #4e7700;
          font-size: 18px;
          padding: 10px;
          overflow: hidden; }
          body #wrapper #header #menu ul li.active a:link, body #wrapper #header #menu ul li.active a:visited {
            color: white;
            overflow: hidden; }
        body #wrapper #header #menu ul li {
          list-style: none;
          display: inline;
          margin-right: 20px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px; }
          body #wrapper #header #menu ul li a:link, body #wrapper #header #menu ul li a:visited {
            text-decoration: none;
            color: #4e7700;
            font-weight: bold; }
          body #wrapper #header #menu ul li a:hover {
            color: black; }
  body #content {
    float: left;
    width: 700px; }
  body a:focus {
    outline: 0px; }

h2.question-header a:link {
  text-decoration: none;
  color: #7F5000; }
h2.question-header a:visited {
  text-decoration: none;
  color: #AF6F00; }
h2.question-header a:hover {
  color: black;
  text-decoration: none; }

.question-new, .question-edit {
  background: #e9e9e9;
  padding: 10px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .question-new label, .question-edit label {
    font-weight: bold;
    display: block;
    margin-top: 0px; }
  .question-new textarea, .question-edit textarea {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%; }
  .question-new input.text, .question-edit input.text {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 14px; }
  .question-new input.tags, .question-edit input.tags {
    width: 75%; }
  .question-new input.save, .question-edit input.save {
    background: green;
    padding: 10px;
    color: white;
    border: 0px;
    font-size: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    float: right; }

.question-header {
  border-bottom: 3px solid black;
  margin-top: 20px; }
  .question-header h2 {
    float: left;
    font-size: 34px;
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .question-header .tabs {
    width: 300px;
    float: right;
    text-align: right; }
    .question-header .tabs ul {
      margin: 0px;
      padding: 0px; }
      .question-header .tabs ul li.active a:link, .question-header .tabs ul li.active a:visited {
        background: green; }
      .question-header .tabs ul li {
        display: inline;
        list-style: none;
        margin-right: 10px; }
        .question-header .tabs ul li a:link, .question-header .tabs ul li a:visited {
          color: white;
          background: black;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          padding: 5px;
          text-decoration: none; }

.question .actions {
  float: right; }
  .question .actions a:link, .question .actions a:visited {
    background: green;
    color: white;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none; }
  .question .actions a:hover {
    background: black; }
.question .body {
  background: #f4f4f4;
  padding: 10px;
  width: 615px;
  overflow: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .question .body p {
    margin-top: 0px; }
  .question .body .tags {
    margin-bottom: 10px;
    margin-top: 10px; }
    .question .body .tags a:link, .question .body .tags a:visited {
      float: left;
      text-decoration: none;
      background: green;
      color: white;
      margin-right: 10px;
      padding: 5px;
      background: orange;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      font-size: 12px; }
    .question .body .tags a:hover {
      background: black; }
  .question .body .user {
    float: right;
    font-size: 12px;
    background: #fff5e1;
    padding: 5px;
    margin: 5px; }
    .question .body .user a:link, .question .body .user a:visited {
      color: green;
      font-weight: bold;
      text-decoration: none; }
    .question .body .user a:hover {
      color: black;
      font-weight: bold;
      text-decoration: underline; }
    .question .body .user img {
      margin-right: 5px; }
  .question .body .edit {
    float: right;
    margin-top: 1em; }
    .question .body .edit a:link,
    .question .body .edit a:visited {
      background: green;
      color: white;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      text-decoration: none;
      padding: 5px; }

.question-list {
  background: #e9e9e9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #e9e9e9));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px 5px 5px 0px;
  margin-bottom: 10px; }
  .question-list .body h3 {
    margin-top: 0px; }
    .question-list .body h3 a:link {
      text-decoration: none;
      color: #7F5000; }
    .question-list .body h3 a:visited {
      text-decoration: none;
      color: #AF6F00; }
    .question-list .body h3 a:hover {
      color: black;
      text-decoration: underline; }
  .question-list .body .user {
    float: right;
    font-size: 12px;
    text-align: right;
    padding: 5px;
    background: #e9e9e9; }
    .question-list .body .user img {
      margin-bottom: 5px;
      border: 0px; }
    .question-list .body .user a:link, .question-list .body .user a:visited {
      text-decoration: none;
      color: green;
      font-weight: bold; }
    .question-list .body .user a:hover {
      color: black;
      text-decoration: underline; }
  .question-list .body .tags a:link, .question-list .body .tags a:visited {
    font-size: 12px;
    text-decoration: none;
    background: #ae5a00;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    padding: 5px; }
  .question-list .body .tags a:hover {
    background: #8b4800; }

#errorExplanation {
  border: 3px solid red;
  padding: 10px;
  margin: 10px 0px 20px 0px;
  -moz-box-shadow: red 2px 2px 10px;
  -webkit-box-shadow: red 2px 2px 10px; }
  #errorExplanation h2 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold; }
  #errorExplanation li {
    list-style: square; }

#sidebar {
  float: left;
  width: 230px;
  padding: 10px;
  background: #f4f4f4;
  margin-top: 30px;
  margin-left: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  #sidebar .facets a:link, #sidebar .facets a:visited {
    background: none;
    color: black; }
  #sidebar .facets a:hover {
    text-decoration: underline; }
  #sidebar .user {
    margin-top: 10px;
    background: #ffff99;
    padding: 5px; }
    #sidebar .user a:link, #sidebar .user a:visited {
      background: none;
      color: green; }
    #sidebar .user a:hover {
      text-decoration: underline; }
    #sidebar .user img {
      margin-right: 5px; }
  #sidebar a:link, #sidebar a:visited {
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: green;
    padding: 5px;
    font-size: 16px;
    color: white;
    width: 100%; }
  #sidebar h3 {
    margin-top: 20px; }
  #sidebar .tags a:link, #sidebar .tags a:visited {
    color: black;
    width: auto;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: green;
    padding: 5px;
    font-size: 12px;
    color: white;
    float: left;
    margin: 2px; }
  #sidebar .tags a:hover {
    background: black; }

.answer-edit {
  background: #FFF5E1;
  padding: 10px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .answer-edit h2 {
    margin: 0px;
    margin-bottom: 20px; }
  .answer-edit label {
    font-weight: bold;
    display: block;
    margin-top: 0px; }
  .answer-edit textarea {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%; }
  .answer-edit input.text {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 14px; }
  .answer-edit input.save {
    background: green;
    padding: 10px;
    color: white;
    border: 0px;
    font-size: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    float: right; }

h2.answer-header {
  border-bottom: 3px solid #737373; }

.answer-item {
  border-bottom: 1px dotted black; }
  .answer-item .counter {
    font-weight: bold; }
  .answer-item .body {
    float: left;
    width: 630px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: auto; }
    .answer-item .body .user {
      float: right;
      font-size: 12px;
      background: #f4f4f4;
      margin: 5px;
      padding: 5px;
      margin-right: 0px; }
      .answer-item .body .user a:link, .answer-item .body .user a:visited {
        text-decoration: none;
        color: black; }
      .answer-item .body .user a:hover {
        color: green; }
        .answer-item .body .user a:hover img {
          border: 0px; }

.stats div {
  width: 50px;
  height: 44px;
  font-size: 25px;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  float: left;
  margin-left: 5px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  line-height: 23px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 1px 1px 1px #444444; }
  .stats div span.desc {
    font-size: 12px;
    display: block; }
.stats .votes {
  background: #FFE9CF; }
.stats .views {
  background: #cfcfcf; }
.stats .answers {
  background: #4e7700;
  color: white; }
  .stats .answers span.desc {
    font-size: 10px; }
.stats .zero {
  background: #6F1D00; }
  .stats .zero span.desc {
    font-size: 10px; }

.answer-item .stats div.favourite, .question .stats div.favourite {
  font-size: 60px;
  font-weight: bold;
  display: inline;
  padding: 0px;
  clear: left; }
  .answer-item .stats div.favourite a:link, .answer-item .stats div.favourite a:visited, .question .stats div.favourite a:link, .question .stats div.favourite a:visited {
    color: black;
    text-decoration: none; }
  .answer-item .stats div.favourite a:hover, .question .stats div.favourite a:hover {
    color: orange;
    text-shadow: 0px 0px 10px orange; }
.answer-item .stats div.votes, .question .stats div.votes {
  width: 50px;
  background: white;
  height: 74px;
  font-size: 12px;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  float: left;
  margin-right: 10px;
  padding: 0px; }
  .answer-item .stats div.votes div.value, .question .stats div.votes div.value {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 36px;
    height: auto;
    text-align: center;
    margin-top: 5px; }
  .answer-item .stats div.votes a.up:link, .answer-item .stats div.votes a:visited.up, .question .stats div.votes a.up:link, .question .stats div.votes a:visited.up {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-up.png) no-repeat center top;
    display: block;
    text-decoration: none;
    text-align: center;
    opacity: 0.8; }
  .answer-item .stats div.votes a.down:link, .answer-item .stats div.votes a:visited.down, .question .stats div.votes a.down:link, .question .stats div.votes a:visited.down {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-down.png) no-repeat center bottom;
    display: block;
    text-decoration: none;
    clear: both;
    text-align: center;
    opacity: 0.8; }
  .answer-item .stats div.votes a.up:hover, .answer-item .stats div.votes a.down:hover, .question .stats div.votes a.up:hover, .question .stats div.votes a.down:hover {
    opacity: 1.0; }
  .answer-item .stats div.votes a.up-neutral:link, .answer-item .stats div.votes a.up-neutral:visited, .question .stats div.votes a.up-neutral:link, .question .stats div.votes a.up-neutral:visited {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-up-neutral.png) no-repeat center top;
    display: block;
    text-decoration: none;
    clear: both;
    text-align: center;
    opacity: 0.8; }
  .answer-item .stats div.votes a.down-neutral:link, .answer-item .stats div.votes a.down-neutral:visited, .question .stats div.votes a.down-neutral:link, .question .stats div.votes a.down-neutral:visited {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-down-neutral.png) no-repeat center bottom;
    text-decoration: none;
    clear: both;
    text-align: center;
    opacity: 0.8;
    display: block; }
  .answer-item .stats div.votes a.down-neutral:hover, .answer-item .stats div.votes a.up-neutral:hover, .question .stats div.votes a.down-neutral:hover, .question .stats div.votes a.up-neutral:hover {
    opacity: 1.0; }

.tag-list .tag {
  padding: 5px;
  float: left;
  margin-bottom: 10px; }
  .tag-list .tag a:link, .tag-list .tag a:visited {
    text-decoration: none;
    color: white;
    background: #4e7700;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    .tag-list .tag a:link a:hover, .tag-list .tag a:visited a:hover {
      background: #558200; }
.tag-list a:link, .tag-list a:visited {
  text-decoration: none;
  color: white;
  background: #4e7700;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
.tag-list a:hover {
  background: #558200; }

.pagination a:link, .pagination a:visited {
  padding: 5px;
  font-size: 12px;
  border: 1px solid #e9e9e9;
  text-decoration: none;
  background: #f9f9f9;
  color: black; }
.pagination a:hover {
  background: green;
  color: white; }
.pagination span.current {
  font-size: 12px;
  padding: 5px;
  background: #f9f9f9;
  color: black;
  border: 1px solid #000;
  font-weight: bold; }
.pagination .disabled {
  font-size: 12px;
  padding: 5px;
  border: 1px solid white; }

.user-header {
  margin-top: 20px; }
  .user-header .image {
    width: 100px;
    float: left; }
    .user-header .image .stats {
      margin-top: 10px;
      background: #a87300;
      padding: 5px;
      color: white;
      width: 100%;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
      .user-header .image .stats h3 {
        margin: 0px;
        margin-bottom: 10px;
        text-shadow: 2px 2px 5px black; }
    .user-header .image img {
      border: 1px solid #e9e9e9;
      padding: 5px; }
  .user-header .info {
    float: left;
    background: #e9e9e9;
    width: 550px;
    margin: 10px;
    margin-top: 0px;
    margin-left: 20px;
    padding: 10px; }
    .user-header .info h2 {
      margin: 0px; }

.user-list .user-item {
  float: left;
  background: #e9e9e9;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 10px 10px 0px 0px; }
  .user-list .user-item a:link, .user-list .user-item a:visited {
    text-decoration: none;
    color: #4e7700; }
  .user-list .user-item a:hover {
    text-decoration: underline;
    color: #5d8e00; }

.comments {
  margin-left: 33%; }
  .comments .comment-item a:link, .comments .comment-item a:visited {
    background: none;
    text-decoration: underline;
    color: red;
    float: none;
    margin: 0px;
    padding: 0px; }
  .comments a:link, .comments a:visited {
    float: right;
    margin: 10px;
    text-decoration: none;
    font-size: 12px;
    background: green;
    padding: 5px;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  .comments .comment-item {
    margin-top: 5px;
    padding: 5px;
    background: #FCFFDF;
    display: block;
    font-size: 12px;
    padding-top: 0px; }
    .comments .comment-item .user-info {
      float: right; }

#footer {
  margin-top: 20px;
  border-top: 3px solid #737373;
  padding: 10px; }
