body {
  font-family: Helvetica, Arial;
  margin: 0px;
  margin-top: 0px; }
  body .clear {
    clear: both;
    line-height: 0px; }
  body #wrapper {
    width: 1200px;
    margin: 0 auto; }
    body #wrapper #header h1 {
      color: green;
      width: 900px;
      float: left; }
      body #wrapper #header h1 a:link,
      body #wrapper #header h1 a:visited {
        color: green;
        text-decoration: none; }
    body #wrapper #header form {
      float: right;
      margin-top: -17px; }
      body #wrapper #header form input {
        background: #FFF4BF;
        padding: 5px;
        border: 1px solid #e9e9e9;
        font-size: 1.07em;
        width: 230px;
        color: green;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px; }
      body #wrapper #header form input.active {
        color: green;
        border-color: black; }
    body #wrapper #header #menu ul {
      display: inline;
      margin-left: 0;
      padding-left: 0; }
      body #wrapper #header #menu ul li.active {
        background: orange; }
      body #wrapper #header #menu ul li {
        background: #4e7700;
        list-style: none;
        display: inline;
        margin-right: 10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 10px;
        line-height: 30px;
        text-shadow: 1px 1px 1px #444444;
        padding-top: 20px;
        vertical-align: middle; }
        body #wrapper #header #menu ul li a:link, body #wrapper #header #menu ul li a:visited {
          font-size: 30px;
          text-decoration: none;
          color: white;
          font-weight: bold;
          line-height: 10px; }
      body #wrapper #header #menu ul li:hover {
        background: black; }
  body #content {
    float: left;
    width: 940px; }
    body #content h2 {
      margin: 0px;
      display: block;
      font-size: 34px;
      margin-bottom: 10px;
      margin-top: 30px;
      border-bottom: 3px solid #000; }
  body a:focus {
    outline: 0px; }
  body .tabs {
    width: 300px;
    float: right;
    text-align: right;
    margin-bottom: 20px;
    position: relative;
    z-index: 100; }
    body .tabs ul {
      margin: 0px;
      padding: 0px; }
      body .tabs ul li.active a:link, body .tabs ul li.active a:visited {
        background: green; }
      body .tabs ul li.active a:hover {
        background: black; }
      body .tabs ul li {
        display: inline;
        list-style: none;
        margin-left: 8px; }
        body .tabs ul li a:link, body .tabs ul li a:visited {
          color: white;
          background: black;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          padding: 5px;
          text-decoration: none; }
        body .tabs ul li a:hover {
          background: green; }

h2.show-question {
  margin-top: 30px;
  margin-bottom: 30px !important;
  display: block !important; }
  h2.show-question a:link, h2.show-question a:visited {
    text-decoration: none;
    color: #AE5A00;
    padding: 10px; }
  h2.show-question a:hover {
    text-decoration: none;
    background: black;
    color: white; }

.question-header {
  position: relative;
  margin-top: 30px !important;
  margin-bottom: 10px !important; }
  .question-header h2 {
    position: absolute;
    bottom: 0;
    border: 0px !important;
    margin-top: 0px !important; }
    .question-header h2 a:link {
      text-decoration: none;
      color: #7F5000; }
    .question-header h2 a:visited {
      text-decoration: none;
      color: #AF6F00; }
    .question-header h2 a:hover {
      color: black;
      text-decoration: none; }
    .question-header h2 span.tagged {
      color: white;
      background: green;
      font-size: 0.65em;
      padding: 10px;
      font-style: italic;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }

.question-new, .question-edit {
  background: #e9e9e9;
  padding: 10px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .question-new label, .question-edit label {
    font-weight: bold;
    display: block;
    margin-top: 0px; }
  .question-new textarea, .question-edit textarea {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%;
    padding: 5px; }
  .question-new input.text, .question-edit input.text {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 14px; }
  .question-new input.tags, .question-edit input.tags {
    width: 75%; }
  .question-new input.save, .question-edit input.save {
    background: green;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: 0px;
    font-size: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    float: right; }
  .question-new input.save:hover, .question-edit input.save:hover {
    background: black; }

.question-header {
  border-bottom: 3px solid black;
  margin-top: 20px; }
  .question-header h2 {
    float: left;
    font-size: 34px;
    width: 900px;
    margin-top: 0px;
    margin-bottom: 0px; }

.question .actions {
  float: right; }
  .question .actions a:link, .question .actions a:visited {
    background: green;
    color: white;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none; }
  .question .actions a:hover {
    background: black; }
.question .body {
  background: #fff;
  padding: 10px;
  width: 855px;
  overflow: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .question .body p {
    margin-top: 0px; }
  .question .body .tags {
    margin-bottom: 10px;
    margin-top: 10px; }
    .question .body .tags a:link, .question .body .tags a:visited {
      float: left;
      text-decoration: none;
      color: white;
      margin-right: 10px;
      padding: 5px;
      background: #ae5a00;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      font-size: 12px; }
    .question .body .tags a:hover {
      background: black; }
  .question .body .user {
    float: right;
    font-size: 12px;
    background: #fff5e1;
    padding: 5px;
    margin: 5px;
    margin-right: 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    .question .body .user a:link, .question .body .user a:visited {
      color: green;
      font-weight: bold;
      text-decoration: none; }
    .question .body .user a:hover {
      color: black;
      font-weight: bold;
      text-decoration: underline; }
    .question .body .user img {
      margin-right: 5px; }
  .question .body .edit {
    float: right;
    margin-top: 1em; }
    .question .body .edit a:link,
    .question .body .edit a:visited {
      background: green;
      color: white;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      text-decoration: none;
      padding: 5px; }
    .question .body .edit a:hover {
      background: black; }

.question-list {
  background: #e9e9e9;
  background: #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px 5px 5px 0px;
  margin-bottom: 10px; }
  .question-list .body h3 {
    margin-top: 0px; }
    .question-list .body h3 a:link {
      text-decoration: none;
      color: #7F5000; }
    .question-list .body h3 a:visited {
      text-decoration: none;
      color: #AF6F00; }
    .question-list .body h3 a:hover {
      color: black;
      text-decoration: underline; }
  .question-list .body .user {
    float: right;
    font-size: 12px;
    text-align: right;
    padding: 5px;
    background: #e9e9e9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    .question-list .body .user img {
      margin-bottom: 5px;
      border: 0px; }
    .question-list .body .user a:link, .question-list .body .user a:visited {
      text-decoration: none;
      color: green;
      font-weight: bold; }
    .question-list .body .user a:hover {
      color: black;
      text-decoration: underline; }
  .question-list .body .tags a:link, .question-list .body .tags a:visited {
    font-size: 12px;
    text-decoration: none;
    background: #ae5a00;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    padding: 5px; }
  .question-list .body .tags a:hover {
    background: #8b4800; }

#errorExplanation {
  padding: 10px;
  margin: 10px 0px 20px 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: red;
  color: white; }
  #errorExplanation h2 {
    margin-top: 0px !important;
    font-size: 26px !important;
    text-shadow: 1px 1px 1px #444444;
    font-weight: bold;
    border: 0px !important; }
  #errorExplanation li {
    list-style: square; }

#sidebar {
  float: left;
  width: 240px;
  padding: 10px;
  padding-top: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-left: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  #sidebar .guide {
    background: #FFDAAF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    color: black; }
    #sidebar .guide h3 {
      margin-top: 0px;
      color: red; }
  #sidebar a.new_question:link, #sidebar a.new_question:visited {
    background: #bc330d;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -8px;
    -webkit-animation-name: redPulse;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    border: 1px solid #bc330d; }
  #sidebar a.new_question:hover {
    border: 1px solid black; }
  #sidebar .facets a:link, #sidebar .facets a:visited {
    background: none;
    color: black; }
  #sidebar .facets a:hover {
    text-decoration: underline; }
  #sidebar .user {
    margin-top: 10px;
    background: #ffff99;
    padding: 5px; }
    #sidebar .user a:link, #sidebar .user a:visited {
      background: none;
      color: green; }
    #sidebar .user a:hover {
      text-decoration: underline; }
    #sidebar .user img {
      margin-right: 5px; }
  #sidebar a:link, #sidebar a:visited {
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: green;
    padding: 5px;
    font-size: 16px;
    color: white;
    width: 100%; }
  #sidebar h3 {
    margin-top: 20px; }
  #sidebar .tags a:link, #sidebar .tags a:visited {
    color: black;
    width: auto;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: green;
    padding: 5px;
    font-size: 12px;
    color: white;
    float: left;
    margin: 2px; }
  #sidebar .tags a:hover {
    background: black; }

.answer-edit {
  background: #FFF5E1;
  padding: 10px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .answer-edit a.cancel:link, .answer-edit a.cancel:visited {
    background: red;
    padding: 5px;
    color: white;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    clear: both;
    margin-top: 10px;
    font-weight: bold; }
  .answer-edit a.cancel:hover {
    margin-top: 10px;
    background: black; }
  .answer-edit h2 {
    margin: 0px;
    margin-bottom: 20px; }
  .answer-edit label {
    font-weight: bold;
    display: block;
    margin-top: 0px; }
  .answer-edit textarea {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%; }
  .answer-edit input.text {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 14px; }
  .answer-edit input.save {
    background: green;
    padding: 10px;
    color: white;
    border: 0px;
    font-size: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    float: right;
    font-weight: bold; }
  .answer-edit input.save:hover {
    background: black; }

h2.answer-header {
  border-bottom: 3px solid #737373; }

.accepted {
  background: #EAFFDF;
  padding: 10px 0px; }
  .accepted .body .user {
    background: #4e7700 !important;
    color: white;
    margin-right: 10px !important; }
    .accepted .body .user a:link, .accepted .body .user a:visited {
      color: #ffff99 !important; }
    .accepted .body .user a:hover {
      color: white !important; }
  .accepted .votes {
    background: none !important; }

.answer-item {
  border-bottom: 1px dotted black;
  padding: 10px 0px; }
  .answer-item .stats {
    float: left; }
    .answer-item .stats .status a {
      display: block;
      width: 44px;
      height: 45px;
      padding: 0px;
      background: url(../images/unchecked.png) no-repeat 0 0;
      color: white; }
    .answer-item .stats .status a.accepted {
      background: url(../images/checked.png) no-repeat 0 0; }
  .answer-item .counter {
    font-weight: bold; }
  .answer-item .body {
    float: left;
    width: 875px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: auto; }
    .answer-item .body a:link, .answer-item .body a:visited {
      background: green;
      color: white;
      padding: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      text-decoration: none;
      font-weight: normal;
      line-height: 25px; }
    .answer-item .body a:hover {
      background: black; }
    .answer-item .body p {
      margin-bottom: 1em;
      margin-top: 0px; }
    .answer-item .body .user {
      float: right;
      font-size: 12px;
      background: #f4f4f4;
      margin: 5px;
      padding: 5px;
      margin-right: 0px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
      .answer-item .body .user img {
        margin-right: 0px; }
      .answer-item .body .user a:link, .answer-item .body .user a:visited {
        text-decoration: none;
        color: black;
        background: none;
        font-weight: bold; }
      .answer-item .body .user a:hover {
        color: green; }
        .answer-item .body .user a:hover img {
          border: 0px; }

.stats div {
  width: 50px;
  height: 44px;
  font-size: 25px;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  float: left;
  margin-left: 5px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  line-height: 23px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .stats div span.desc {
    font-size: 12px;
    display: block; }
.stats .votes {
  background: #FFE9CF; }
.stats .views {
  background: #cfcfcf; }
.stats .answers {
  background: #4e7700;
  color: white; }
  .stats .answers span.desc {
    font-size: 10px; }
.stats .zero {
  background: #6F1D00; }
  .stats .zero span.desc {
    font-size: 10px; }

.answer-item .stats div.status, .question .stats div.status {
  clear: left;
  font-size: 10px; }
.answer-item .stats div.views, .question .stats div.views {
  clear: left;
  margin-bottom: 10px; }
.answer-item .stats div.favourite, .question .stats div.favourite {
  font-size: 60px;
  font-weight: bold;
  display: inline;
  padding: 0px;
  clear: left; }
  .answer-item .stats div.favourite a:link, .answer-item .stats div.favourite a:visited, .question .stats div.favourite a:link, .question .stats div.favourite a:visited {
    color: black;
    text-decoration: none; }
  .answer-item .stats div.favourite a:hover, .question .stats div.favourite a:hover {
    color: orange;
    text-shadow: 0px 0px 10px orange; }
.answer-item .stats div.votes, .question .stats div.votes {
  width: 50px;
  background: white;
  height: 74px;
  font-size: 12px;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  float: left;
  margin-right: 10px;
  padding: 0px; }
  .answer-item .stats div.votes div.value, .question .stats div.votes div.value {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 36px;
    height: auto;
    text-align: center;
    margin-top: 5px; }
  .answer-item .stats div.votes a.up:link, .answer-item .stats div.votes a:visited.up, .question .stats div.votes a.up:link, .question .stats div.votes a:visited.up {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-up.png) no-repeat center top;
    display: block;
    text-decoration: none;
    text-align: center;
    opacity: 0.8; }
  .answer-item .stats div.votes a.down:link, .answer-item .stats div.votes a:visited.down, .question .stats div.votes a.down:link, .question .stats div.votes a:visited.down {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-down.png) no-repeat center bottom;
    display: block;
    text-decoration: none;
    clear: both;
    text-align: center;
    opacity: 0.8; }
  .answer-item .stats div.votes a.up:hover, .answer-item .stats div.votes a.down:hover, .question .stats div.votes a.up:hover, .question .stats div.votes a.down:hover {
    opacity: 1.0; }
  .answer-item .stats div.votes a.up-neutral:link, .answer-item .stats div.votes a.up-neutral:visited, .question .stats div.votes a.up-neutral:link, .question .stats div.votes a.up-neutral:visited {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-up-neutral.png) no-repeat center top;
    display: block;
    text-decoration: none;
    clear: both;
    text-align: center;
    opacity: 0.8; }
  .answer-item .stats div.votes a.down-neutral:link, .answer-item .stats div.votes a.down-neutral:visited, .question .stats div.votes a.down-neutral:link, .question .stats div.votes a.down-neutral:visited {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-down-neutral.png) no-repeat center bottom;
    text-decoration: none;
    clear: both;
    text-align: center;
    opacity: 0.8;
    display: block; }
  .answer-item .stats div.votes a.down-neutral:hover, .answer-item .stats div.votes a.up-neutral:hover, .question .stats div.votes a.down-neutral:hover, .question .stats div.votes a.up-neutral:hover {
    opacity: 1.0; }

.tag-list {
  margin-top: 10px; }
  .tag-list .tag {
    padding: 5px;
    float: left;
    margin-bottom: 10px;
    color: black; }
    .tag-list .tag a:link, .tag-list .tag a:visited {
      text-decoration: none;
      color: white;
      background: #4e7700;
      padding: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
      .tag-list .tag a:link a:hover, .tag-list .tag a:visited a:hover {
        background: #558200; }
  .tag-list a:link, .tag-list a:visited {
    text-decoration: none;
    color: white;
    background: #4e7700;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  .tag-list a:hover {
    background: black !important; }

.pagination a:link, .pagination a:visited {
  padding: 5px;
  font-size: 12px;
  border: 1px solid #e9e9e9;
  text-decoration: none;
  background: #f9f9f9;
  color: black; }
.pagination a:hover {
  background: green;
  color: white; }
.pagination span.current {
  font-size: 12px;
  padding: 5px;
  background: #f9f9f9;
  color: black;
  border: 1px solid #000;
  font-weight: bold; }
.pagination .disabled {
  font-size: 12px;
  padding: 5px;
  border: 1px solid white; }

#user {
  color: red;
  float: right;
  text-align: right;
  width: 220px;
  margin-top: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  #user a:link, #user a:visited {
    text-decoration: none;
    color: white;
    background: #4e7700;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  #user a:hover {
    background: black; }

.user-header {
  margin-top: 20px; }
  .user-header .image {
    width: 100px;
    float: left; }
    .user-header .image .stats {
      margin-top: 10px;
      background: #a87300;
      padding: 5px;
      color: white;
      width: 100%;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
      .user-header .image .stats h3 {
        margin: 0px;
        margin-bottom: 10px;
        text-shadow: 2px 2px 5px black; }
    .user-header .image img {
      border: 1px solid #e9e9e9;
      padding: 5px; }
  .user-header .info {
    float: left;
    background: #e9e9e9;
    width: 750px;
    margin: 10px;
    margin-top: 0px;
    margin-left: 20px;
    padding: 10px; }

.user-list .user-item {
  float: left;
  background: #e9e9e9;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 10px 10px 0px 0px; }
  .user-list .user-item img {
    margin-right: 5px; }
  .user-list .user-item a:link, .user-list .user-item a:visited {
    text-decoration: none;
    color: #4e7700; }
  .user-list .user-item a:hover {
    text-decoration: underline;
    color: #5d8e00; }

.comments {
  float: right;
  width: 66%; }
  .comments .comment-new {
    float: right;
    margin-right: 10px; }
    .comments .comment-new a.cancel:link, .comments .comment-new a.cancel:visited {
      color: white;
      background: red;
      padding: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      float: left;
      margin-left: 0px; }
    .comments .comment-new a.cancel:hover, .comments .comment-new input.save:hover {
      background: black; }
    .comments .comment-new input.save {
      background: green;
      color: white;
      padding: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border: none;
      float: right; }
  .comments .comment-item {
    margin-top: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #f4f4f4;
    display: block;
    font-size: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 0px; }
    .comments .comment-item .user-info {
      float: right;
      margin-bottom: 5px; }
      .comments .comment-item .user-info a:link, .comments .comment-item .user-info a:visited {
        color: green;
        text-decoration: none;
        font-weight: bold; }
      .comments .comment-item .user-info a:hover {
        color: black; }
    .comments .comment-item a:link, .comments .comment-item a:visited {
      background: none;
      text-decoration: underline;
      color: red;
      float: none;
      margin: 0px;
      padding: 0px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
  .comments a:link, .comments a:visited {
    float: right;
    margin: 10px;
    text-decoration: none;
    font-size: 12px;
    background: green;
    padding: 5px;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  .comments a:hover {
    background: black; }

#footer {
  margin-top: 20px;
  border-top: 3px solid #737373;
  padding: 10px; }

* html #gritter-notice-wrapper {
  position: absolute; }
* html .gritter-top {
  margin-bottom: -10px; }
* html .gritter-item {
  padding-bottom: 0; }
* html .gritter-bottom {
  margin-bottom: 0; }
* html .gritter-close {
  background: url(/images/gritter//gritter-close-ie6.gif);
  width: 22px;
  height: 22px;
  top: 7px;
  left: 7px; }

.gritter-error {
  background: red !important;
  background-image: none !important; }
  .gritter-error .gritter-top, .gritter-error .gritter-bottom, .gritter-error .gritter-item {
    background-image: none !important; }

#gritter-notice-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 301px;
  z-index: 9999; }

.gritter-item-wrapper {
  position: relative;
  margin: 0 0 10px 0;
  background: url('.'); }

.gritter-top {
  background: url(/images/gritter//gritter.png) no-repeat left -30px;
  height: 10px; }

.hover .gritter-top {
  background-position: right -30px; }

.gritter-bottom {
  background: url(/images/gritter/gritter.png) no-repeat left bottom;
  height: 8px;
  margin: 0; }

.hover .gritter-bottom {
  background-position: bottom right; }

.gritter-item {
  display: block;
  background: url(/images/gritter//gritter.png) no-repeat left -40px;
  color: #eee;
  padding: 2px 11px 8px 11px;
  font-size: 11px;
  font-family: verdana; }

.hover .gritter-item {
  background-position: right -40px; }

.gritter-item p {
  padding: 0;
  margin: 0; }

.gritter-close {
  position: absolute;
  top: 5px;
  left: 3px;
  background: url(/images/gritter//gritter.png) no-repeat left top;
  cursor: pointer;
  width: 30px;
  height: 30px; }

.gritter-title {
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 7px 0;
  display: block;
  text-shadow: 1px 1px #000; }

.gritter-image {
  width: 48px;
  height: 48px;
  float: left; }

.gritter-with-image, .gritter-without-image {
  padding: 0 0 5px 0; }

.gritter-with-image {
  width: 220px;
  float: right; }
