/*
Syntax error: Undefined variable: "$color_1".
        on line 35 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/autocomplete.sass

30: .ac_odd
31:   background-color: #eee
32: 
33: 
34: .ac_over
35:   background-color: $color_1
36:   color: white

Backtrace:
/Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/autocomplete.sass:35
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/script/variable.rb:45:in `_perform'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/script/node.rb:40:in `perform'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:215:in `visit_prop'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/engine.rb:291:in `_render'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/engine.rb:239:in `block in render'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/util.rb:298:in `silence_sass_warnings'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/engine.rb:239:in `render'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:175:in `each'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:173:in `each'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.1/lib/sass/plugin/rack.rb:51:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.3/lib/warden/manager.rb:35:in `block in call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `block in call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/content_length.rb:13:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/handler/webrick.rb:52:in `service'
/Users/dkd_hayes/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/dkd_hayes/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/dkd_hayes/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$color_1\".\A         on line 35 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/autocomplete.sass\A \A 30: .ac_odd\A 31:   background-color: #eee\A 32: \A 33: \A 34: .ac_over\A 35:   background-color: $color_1\A 36:   color: white"; }
