/*
Syntax error: Undefined mixin 'border_radius'.
        on line 15 of /Users/kieran/rails3/smartr/public/stylesheets/sass/boxes.sass, in `border_radius'
        from line 15 of /Users/kieran/rails3/smartr/public/stylesheets/sass/boxes.sass

10:     float: left
11:     margin-right: 10px
12:     padding-top: 5px
13:     padding-bottom: 2px
14:     line-height: 23px
15:     +border_radius
16:     
17:     span.desc
18:       font-size: 12px
19:       display: block
20:   

Backtrace:
/Users/kieran/rails3/smartr/public/stylesheets/sass/boxes.sass:15:in `border_radius'
/Users/kieran/rails3/smartr/public/stylesheets/sass/boxes.sass:15
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `block (2 levels) in update_stylesheets'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `block in update_stylesheets'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/warden-1.0.3/lib/warden/manager.rb:35:in `block in call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `block in call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/railties-3.0.3/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/Users/kieran/.rvm/rubies/ruby-1.9.2-head/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/kieran/.rvm/rubies/ruby-1.9.2-head/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/kieran/.rvm/rubies/ruby-1.9.2-head/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'border_radius'.\A         on line 15 of /Users/kieran/rails3/smartr/public/stylesheets/sass/boxes.sass, in `border_radius'\A         from line 15 of /Users/kieran/rails3/smartr/public/stylesheets/sass/boxes.sass\A \A 10:     float: left\A 11:     margin-right: 10px\A 12:     padding-top: 5px\A 13:     padding-bottom: 2px\A 14:     line-height: 23px\A 15:     +border_radius\A 16:     \A 17:     span.desc\A 18:       font-size: 12px\A 19:       display: block\A 20:   "; }
