.votes {
  border: 3px solid orange;
  width: 50px;
  text-align: center;
  float: left;
  background: #e9e9e9;
  margin-right: 10px; }
  .votes .counter {
    font-weight: bold; }

.views {
  border: 3px solid #e9e9e9;
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  float: left;
  background: #f4f4f4;
  margin-right: 20px;
  padding-top: 2px; }
  .views span.desc {
    font-size: 12px; }
