.stats div {
  width: 50px;
  height: 44px;
  font-size: 25px;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  float: left;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  line-height: 23px; }
  .stats div span.desc {
    font-size: 12px;
    display: block; }
.stats .votes {
  background: #FFE9CF; }
.stats .views {
  background: #cfcfcf; }
.stats .answers {
  background: #2F6F00;
  color: white; }
  .stats .answers span.desc {
    font-size: 10px; }

.answer-item .stats div.votes {
  width: 50px;
  background: white;
  height: 74px;
  font-size: 12px;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  float: left;
  margin-right: 10px;
  padding: 0px; }
  .answer-item .stats div.votes div.value {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 36px;
    height: auto;
    text-align: center;
    margin-top: 5px; }
  .answer-item .stats div.votes a.up:link, .answer-item .stats div.votes a:visited.up {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-up.png) no-repeat center top;
    display: block;
    text-decoration: none;
    text-align: center;
    opacity: 0.8; }
  .answer-item .stats div.votes a.down:link, .answer-item .stats div.votes a:visited.down {
    width: 50px;
    height: 10px;
    padding: 0x;
    background: url(/images/arrow-down.png) no-repeat center bottom;
    display: block;
    text-decoration: none;
    clear: both;
    text-align: center;
    opacity: 0.8; }
  .answer-item .stats div.votes a.up:hover, .answer-item .stats div.votes a.down:hover {
    opacity: 1.0; }
