.comments {
  margin-left: 33%; }
  .comments .comment-item a:link, .comments .comment-item a:visited {
    background: none;
    text-decoration: underline;
    color: red;
    float: none;
    margin: 0px;
    padding: 0px; }
  .comments a:link, .comments a:visited {
    float: right;
    margin: 10px;
    text-decoration: none;
    font-size: 12px;
    background: green;
    padding: 5px;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  .comments a:hover {
    background: black; }
  .comments .comment-item {
    margin-top: 5px;
    padding: 5px;
    background: #f4f4f4;
    display: block;
    font-size: 12px; }
    .comments .comment-item .user-info {
      float: right;
      margin-bottom: 5px; }
      .comments .comment-item .user-info a:link, .comments .comment-item .user-info a:visited {
        color: green;
        text-decoration: none;
        font-weight: bold; }
      .comments .comment-item .user-info a:hover {
        color: black; }
