/*
Syntax error: Undefined variable: "$min_width".
        on line 11 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/default.sass

6:   .clear
7:     clear: both
8:     line-height: 0px
9:   
10:   #wrapper
11:     width = !min_width
12:     margin: 0 auto
13:     
14:     #header
15:       
16:       h1

Backtrace:
/Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/default.sass:11
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/script/variable.rb:39:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/script/node.rb:61:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/prop_node.rb:132:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:301:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:209:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `map'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:313:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/rule_node.rb:191:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:301:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:209:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `map'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:313:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/rule_node.rb:191:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:301:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:209:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `map'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:313:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/root_node.rb:59:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:301:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/node.rb:209:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/root_node.rb:37:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/tree/root_node.rb:29:in `render'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/plugin.rb:220:in `update_stylesheet'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/plugin.rb:85:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/plugin.rb:78:in `each'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/plugin.rb:78:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/plugin.rb:76:in `each'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/plugin.rb:76:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/plugin.rb:50:in `check_for_updates'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.14/lib/sass/plugin/rack.rb:40:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.rc/lib/action_dispatch/middleware/head.rb:14:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.rc/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.rc/lib/action_dispatch/middleware/flash.rb:177:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.rc/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.rc/lib/action_dispatch/middleware/cookies.rb:268:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0.rc/lib/active_record/query_cache.rb:32:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0.rc/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0.rc/lib/active_record/query_cache.rb:12:in `cache'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0.rc/lib/active_record/query_cache.rb:31:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.rc/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.0.rc/lib/active_support/callbacks.rb:410:in `_run_call_callbacks'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.rc/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.rc/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.rc/lib/action_dispatch/middleware/show_exceptions.rb:48:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.rc/lib/rails/rack/logger.rb:13:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.0.rc/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.rc/lib/action_dispatch/middleware/static.rb:30:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.rc/lib/rails/application.rb:168:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.rc/lib/rails/application.rb:77:in `send'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.rc/lib/rails/application.rb:77:in `method_missing'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.rc/lib/rails/rack/log_tailer.rb:15:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/chunked.rb:15:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/mongrel.rb:67:in `process'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:155:in `process_client'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:154:in `each'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:154:in `process_client'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `run'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `initialize'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `new'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `run'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:264:in `initialize'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:264:in `new'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:264:in `run'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/mongrel.rb:38:in `run'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.rc/lib/rails/commands/server.rb:65:in `start'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.rc/lib/rails/commands.rb:30
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.rc/lib/rails/commands.rb:27:in `tap'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.rc/lib/rails/commands.rb:27
script/rails:9:in `require'
script/rails:9
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$min_width\".\A         on line 11 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/default.sass\A \A 6:   .clear\A 7:     clear: both\A 8:     line-height: 0px\A 9:   \A 10:   #wrapper\A 11:     width = !min_width\A 12:     margin: 0 auto\A 13:     \A 14:     #header\A 15:       \A 16:       h1"; }
