body {
  font-family: Helvetica, Arial;
  margin: 0px;
  margin-top: 0px; }
  body .clear {
    clear: both; }
  body #wrapper {
    width: 960px;
    margin: 0 25% 0 auto; }
    body #wrapper #header h1 {
      color: green;
      width: 600px;
      float: left; }
      body #wrapper #header h1 a:link,
      body #wrapper #header h1 a:visited {
        color: green;
        text-decoration: none; }
    body #wrapper #header #user {
      color: red;
      float: right;
      background: #f4f4f4;
      padding: 10px;
      width: 220px;
      -moz-box-shadow: #e9e9e9 2px 2px 10px;
      -webkit-box-shadow: #e9e9e9 2px 2px 10px;
      margin-top: 10px; }
    body #wrapper #header #menu {
      border-bottom: 3px solid #737373;
      width: 700px; }
      body #wrapper #header #menu ul {
        display: inline;
        margin-left: 0;
        padding-left: 0; }
        body #wrapper #header #menu ul li.active {
          background: green;
          font-size: 18px;
          padding: 10px;
          overflow: hidden; }
          body #wrapper #header #menu ul li.active a:link, body #wrapper #header #menu ul li.active a:visited {
            color: white;
            overflow: hidden; }
        body #wrapper #header #menu ul li {
          list-style: none;
          display: inline;
          margin-right: 20px; }
          body #wrapper #header #menu ul li a:link, body #wrapper #header #menu ul li a:visited {
            text-decoration: none;
            color: green;
            font-weight: bold; }
          body #wrapper #header #menu ul li a:hover {
            color: black; }
  body #content {
    float: left;
    width: 700px; }
