@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd_hayes\/Rails\/smartr\/public\/stylesheets\/sass\/flashmessages\.sass}line{font-family:\000032}}
.flash .message {
  border: 2px solid; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd_hayes\/Rails\/smartr\/public\/stylesheets\/sass\/flashmessages\.sass}line{font-family:\000034}}
  .flash .message p {
    padding: 8px;
    margin: 0px;
    font-weight: bold;
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd_hayes\/Rails\/smartr\/public\/stylesheets\/sass\/flashmessages\.sass}line{font-family:\000039}}
  .flash .message.notice {
    border-color: #d5e5d0;
    background: rgba(237, 255, 232, 0.7); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd_hayes\/Rails\/smartr\/public\/stylesheets\/sass\/flashmessages\.sass}line{font-family:\0000313}}
  .flash .message.alert, .flash .message.error {
    border-color: #e5d0d0;
    background: rgba(255, 232, 232, 0.7); }
