/*
Syntax error: Undefined mixin 'image_border'.
        on line 21 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/form.sass, in `image_border'
        from line 21 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/form.sass

16:   div.right
17:     float: left
18:     margin-left: 2em
19:     min-width: 290px
20:     img
21:       +image_border
22:       padding: 5px
23:     a:hover
24:       color: green
25:     a
26:       color: black

Backtrace:
/Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/form.sass:21:in `image_border'
/Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/form.sass:21
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/opt/local/lib/ruby/gems/1.8/gems/warden-1.0.3/lib/warden/manager.rb:35:in `call'
/opt/local/lib/ruby/gems/1.8/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/opt/local/lib/ruby/gems/1.8/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/application.rb:77:in `send'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/rack/log_tailer.rb:14:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/chunked.rb:15:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/mongrel.rb:67:in `process'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:155:in `process_client'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:154:in `each'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:154:in `process_client'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `run'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `initialize'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `new'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `run'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:264:in `initialize'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:264:in `new'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:264:in `run'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/mongrel.rb:38:in `run'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/commands/server.rb:65:in `start'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/commands.rb:30
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/commands.rb:27:in `tap'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/commands.rb:27
script/rails:9:in `require'
script/rails:9
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'image_border'.\A         on line 21 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/form.sass, in `image_border'\A         from line 21 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/form.sass\A \A 16:   div.right\A 17:     float: left\A 18:     margin-left: 2em\A 19:     min-width: 290px\A 20:     img\A 21:       +image_border\A 22:       padding: 5px\A 23:     a:hover\A 24:       color: green\A 25:     a\A 26:       color: black"; }
