@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd-hayes\/Development\/rails3\/smartr\/public\/stylesheets\/sass\/gbutton\.sass}line{font-family:\000031}}
button.g-button, a.g-button, input[type=submit].g-button {
  padding: 6px 10px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px 2px;
  border-radius: 2px 2px;
  border: solid 1px #999999;
  background: #f4f4f4;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#dddddd));
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 1px white;
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd-hayes\/Development\/rails3\/smartr\/public\/stylesheets\/sass\/gbutton\.sass}line{font-family:\0000318}}
.g-button:hover {
  background: #e9e9e9;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#dddddd)); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd-hayes\/Development\/rails3\/smartr\/public\/stylesheets\/sass\/gbutton\.sass}line{font-family:\0000321}}
.g-button:active {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#dddddd)); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd-hayes\/Development\/rails3\/smartr\/public\/stylesheets\/sass\/gbutton\.sass}line{font-family:\0000323}}
.g-button.large {
  padding: 12px 20px;
  font-size: 21px;
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd-hayes\/Development\/rails3\/smartr\/public\/stylesheets\/sass\/gbutton\.sass}line{font-family:\0000327}}
.g-button.scaled {
  -webkit-transform: scale(2);
  -webkit-transform-origin: bottom left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd-hayes\/Development\/rails3\/smartr\/public\/stylesheets\/sass\/gbutton\.sass}line{font-family:\0000330}}
.g-button.blue {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#62cae3));
  border-color: #62cae3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd-hayes\/Development\/rails3\/smartr\/public\/stylesheets\/sass\/gbutton\.sass}line{font-family:\0000333}}
.g-button.green {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#d5e04d));
  border-color: #d5e04d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd-hayes\/Development\/rails3\/smartr\/public\/stylesheets\/sass\/gbutton\.sass}line{font-family:\0000336}}
.g-button.red {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f15d22), to(#923c06));
  border-color: #923c06;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd-hayes\/Development\/rails3\/smartr\/public\/stylesheets\/sass\/gbutton\.sass}line{font-family:\0000341}}
.g-button.purple {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ca006c), to(#7c0040));
  border-color: #ca006c;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dkd-hayes\/Development\/rails3\/smartr\/public\/stylesheets\/sass\/gbutton\.sass}line{font-family:\0000346}}
.g-button.orange {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f58426));
  border-color: #f58426; }
