.question-header {
  border-bottom: 3px solid black;
  margin-top: 0px; }
  .question-header h1 {
    float: left;
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .question-header .tabs {
    width: 300px;
    float: right;
    text-align: right; }
    .question-header .tabs ul {
      margin: 0px;
      padding: 0px; }
      .question-header .tabs ul li {
        display: inline;
        list-style: none;
        margin-right: 10px; }
        .question-header .tabs ul li a:link, .question-header .tabs ul li a:visited {
          color: white;
          background: black;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          padding: 5px;
          text-decoration: none; }

.question-list {
  background: #f4f4f4;
  padding: 5px 0px 5px 0px;
  margin-bottom: 10px; }
  .question-list .body h3 {
    margin-top: 0px; }
    .question-list .body h3 a:link {
      text-decoration: none;
      color: #7F5000; }
    .question-list .body h3 a:visited {
      text-decoration: none;
      color: #AF6F00; }
    .question-list .body h3 a:hover {
      color: black;
      text-decoration: underline; }
    .question-list .body h3 .user {
      float: right;
      font-size: 12px;
      text-align: right;
      padding: 5px; }
  .question-list .body .tags a:link, .question-list .body .tags a:visited {
    font-size: 12px;
    text-decoration: none;
    background: orange;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    padding: 5px; }
  .question-list .body .tags a:hover {
    background: black; }
