h2.question-header a:link {
  text-decoration: none;
  color: #7F5000; }
h2.question-header a:visited {
  text-decoration: none;
  color: #AF6F00; }
h2.question-header a:hover {
  color: black;
  text-decoration: none; }

.question-new, .question-edit {
  background: #e9e9e9;
  padding: 10px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .question-new label, .question-edit label {
    font-weight: bold;
    display: block;
    margin-top: 0px; }
  .question-new textarea, .question-edit textarea {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%; }
  .question-new input.text, .question-edit input.text {
    border: 1x solid #737373;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 14px; }
  .question-new input.tags, .question-edit input.tags {
    width: 75%; }
  .question-new input.save, .question-edit input.save {
    background: green;
    padding: 10px;
    color: white;
    border: 0px;
    font-size: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    float: right; }

.question-header {
  border-bottom: 3px solid black;
  margin-top: 20px; }
  .question-header h2 {
    float: left;
    font-size: 34px;
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .question-header .tabs {
    width: 300px;
    float: right;
    text-align: right; }
    .question-header .tabs ul {
      margin: 0px;
      padding: 0px; }
      .question-header .tabs ul li {
        display: inline;
        list-style: none;
        margin-right: 10px; }
        .question-header .tabs ul li a:link, .question-header .tabs ul li a:visited {
          color: white;
          background: black;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          padding: 5px;
          text-decoration: none; }

.question .actions {
  float: right; }
  .question .actions a:link, .question .actions a:visited {
    background: green;
    color: white;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none; }
  .question .actions a:hover {
    background: black; }
.question .body {
  background: #f4f4f4;
  padding: 10px;
  float: right;
  width: 615px; }
  .question .body .tags {
    margin-bottom: 10px;
    margin-top: 10px; }
    .question .body .tags a:link, .question .body .tags a:visited {
      float: left;
      text-decoration: none;
      background: green;
      color: white;
      margin-right: 10px;
      padding: 5px;
      background: orange;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      font-size: 12px; }
    .question .body .tags a:hover {
      background: black; }
  .question .body .user {
    float: right;
    font-size: 12px;
    background: #fff5e1;
    padding: 5px;
    margin: 5px; }
    .question .body .user a:link, .question .body .user a:visited {
      color: green;
      font-weight: bold;
      text-decoration: none; }
    .question .body .user a:hover {
      color: black;
      font-weight: bold;
      text-decoration: underline; }
    .question .body .user img {
      margin-right: 5px; }

.question-list {
  background: #f4f4f4;
  padding: 5px 5px 5px 0px;
  margin-bottom: 10px; }
  .question-list .body h3 {
    margin-top: 0px; }
    .question-list .body h3 a:link {
      text-decoration: none;
      color: #7F5000; }
    .question-list .body h3 a:visited {
      text-decoration: none;
      color: #AF6F00; }
    .question-list .body h3 a:hover {
      color: black;
      text-decoration: underline; }
  .question-list .body .user {
    float: right;
    font-size: 12px;
    text-align: right;
    padding: 5px;
    background: #e9e9e9; }
    .question-list .body .user img {
      margin-bottom: 5px;
      border: 0px; }
    .question-list .body .user a:link, .question-list .body .user a:visited {
      text-decoration: none;
      color: green;
      font-weight: bold; }
    .question-list .body .user a:hover {
      color: black;
      text-decoration: underline; }
  .question-list .body .tags a:link, .question-list .body .tags a:visited {
    font-size: 12px;
    text-decoration: none;
    background: orange;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    padding: 5px; }
  .question-list .body .tags a:hover {
    background: black; }
