/*
Syntax error: Undefined variable: "$color_2".
        on line 8 of /Users/kieran/rails3/smartr/public/stylesheets/sass/questions.sass

3:   margin-bottom: 30px !important 
4:   display: block !important
5:   
6:   a:link, a:visited
7:     text-decoration: none
8:     color = !color_2
9:     padding: 10px
10:     padding-left: 0px
11:     padding-right: 0px
12:   
13:   a:hover

Backtrace:
/Users/kieran/rails3/smartr/public/stylesheets/sass/questions.sass:8
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/script/variable.rb:39:in `_perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/script/node.rb:61:in `perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/prop_node.rb:132:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `block (2 levels) in update_stylesheets'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `block in update_stylesheets'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/warden-1.0.3/lib/warden/manager.rb:35:in `block in call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `block in call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:532:in `process_client'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:607:in `block in worker_loop'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:605:in `each'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:605:in `worker_loop'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:496:in `block (2 levels) in spawn_missing_workers'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:493:in `fork'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:493:in `block in spawn_missing_workers'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:489:in `each'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:489:in `spawn_missing_workers'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:503:in `maintain_worker_count'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:161:in `start'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/lib/unicorn.rb:13:in `run'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/gems/unicorn-3.3.1/bin/unicorn_rails:208:in `<top (required)>'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/bin/unicorn_rails:19:in `load'
/Users/kieran/.rvm/gems/ruby-1.9.2-head/bin/unicorn_rails:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$color_2\".\A         on line 8 of /Users/kieran/rails3/smartr/public/stylesheets/sass/questions.sass\A \A 3:   margin-bottom: 30px !important \A 4:   display: block !important\A 5:   \A 6:   a:link, a:visited\A 7:     text-decoration: none\A 8:     color = !color_2\A 9:     padding: 10px\A 10:     padding-left: 0px\A 11:     padding-right: 0px\A 12:   \A 13:   a:hover"; }
