/*
Syntax error: Undefined mixin 'border_radius'.
        on line 9 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/sidebar.sass, in `border_radius'
        from line 9 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/sidebar.sass

4:   padding: 10px
5:   padding-top: 0px
6:   padding-right: 0px
7:   margin-top: 0px
8:   margin-left: 10px
9:   +border_radius
10:   
11:   .guide
12:     background = #FFDAAF
13:     +border_radius
14:     padding: 10px

Backtrace:
/Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/sidebar.sass:9:in `border_radius'
/Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/sidebar.sass:9
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/mixin_node.rb:74:in `perform!'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:301:in `_perform'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:209:in `perform'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `perform_children'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `map'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `perform_children'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:313:in `perform!'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:301:in `_perform'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:209:in `perform'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `perform_children'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `map'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `perform_children'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:313:in `perform!'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:301:in `_perform'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/node.rb:209:in `perform'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/root_node.rb:37:in `perform'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/tree/root_node.rb:29:in `render'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/plugin.rb:221:in `update_stylesheet'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/plugin.rb:86:in `update_stylesheets'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/plugin.rb:79:in `each'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/plugin.rb:77:in `each'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/plugin.rb:77:in `update_stylesheets'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/plugin.rb:51:in `check_for_updates'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/haml-3.0.13/lib/sass/plugin/rack.rb:40:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.beta4/lib/action_dispatch/middleware/head.rb:14:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/methodoverride.rb:24:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.beta4/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.beta4/lib/action_dispatch/middleware/flash.rb:177:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.beta4/lib/action_dispatch/middleware/session/abstract_store.rb:106:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.beta4/lib/action_dispatch/middleware/cookies.rb:235:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0.beta4/lib/active_record/query_cache.rb:31:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0.beta4/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0.beta4/lib/active_record/query_cache.rb:11:in `cache'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0.beta4/lib/active_record/query_cache.rb:30:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.0.beta4/lib/active_record/connection_adapters/abstract/connection_pool.rb:365:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.beta4/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.0.beta4/lib/active_support/callbacks.rb:414:in `_run_call_callbacks'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.0.beta4/lib/active_support/callbacks.rb:88:in `send'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.0.beta4/lib/active_support/callbacks.rb:88:in `run_callbacks'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.beta4/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/sendfile.rb:105:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.beta4/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.beta4/lib/action_dispatch/middleware/show_exceptions.rb:48:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.beta4/lib/rails/rack/logger.rb:14:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/runtime.rb:17:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.0.beta4/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `synchronize'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.0.beta4/lib/action_dispatch/middleware/static.rb:30:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.beta4/lib/rails/application.rb:145:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.beta4/lib/rails/application.rb:81:in `send'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.beta4/lib/rails/application.rb:81:in `method_missing'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.beta4/lib/rails/rack/log_tailer.rb:15:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/content_length.rb:13:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/chunked.rb:15:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/handler/mongrel.rb:67:in `process'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/mongrel-1.1/lib/mongrel.rb:155:in `process_client'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/mongrel-1.1/lib/mongrel.rb:154:in `each'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/mongrel-1.1/lib/mongrel.rb:154:in `process_client'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `run'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `initialize'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `new'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `run'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/mongrel-1.1/lib/mongrel.rb:264:in `initialize'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/mongrel-1.1/lib/mongrel.rb:264:in `new'
/Users/dkd_hayes/.bundle/ruby/1.8/gems/mongrel-1.1/lib/mongrel.rb:264:in `run'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/handler/mongrel.rb:38:in `run'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/server.rb:155:in `start'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.beta4/lib/rails/commands/server.rb:62:in `start'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.beta4/lib/rails/commands.rb:30
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.beta4/lib/rails/commands.rb:27:in `tap'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.0.beta4/lib/rails/commands.rb:27
script/rails:9:in `require'
script/rails:9
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'border_radius'.\A         on line 9 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/sidebar.sass, in `border_radius'\A         from line 9 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/sidebar.sass\A \A 4:   padding: 10px\A 5:   padding-top: 0px\A 6:   padding-right: 0px\A 7:   margin-top: 0px\A 8:   margin-left: 10px\A 9:   +border_radius\A 10:   \A 11:   .guide\A 12:     background = #FFDAAF\A 13:     +border_radius\A 14:     padding: 10px"; }
