#sidebar {
  float: left;
  width: 230px;
  padding: 10px;
  background: #f4f4f4;
  margin-top: 30px;
  margin-left: 10px; }
  #sidebar .facets a:link, #sidebar .facets a:visited {
    background: none;
    color: black; }
  #sidebar .facets a:hover {
    text-decoration: underline; }
  #sidebar .user {
    margin-top: 10px;
    background: #ffff99;
    padding: 5px; }
    #sidebar .user a:link, #sidebar .user a:visited {
      background: none;
      color: green; }
    #sidebar .user a:hover {
      text-decoration: underline; }
    #sidebar .user img {
      margin-right: 5px; }
  #sidebar a:link, #sidebar a:visited {
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: green;
    padding: 5px;
    font-size: 16px;
    color: white;
    width: 100%; }
  #sidebar h3 {
    margin-top: 20px; }
  #sidebar .tags a:link, #sidebar .tags a:visited {
    color: black;
    width: auto;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: green;
    padding: 5px;
    font-size: 12px;
    color: white;
    float: left;
    margin: 2px; }
  #sidebar .tags a:hover {
    background: black; }
