/*
Syntax error: Undefined mixin 'border_radius'.
        on line 9 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/sidebar.sass, in `border_radius'
        from line 9 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/sidebar.sass

4:   padding: 10px
5:   padding-top: 0px
6:   padding-right: 0px
7:   margin-top: 0px
8:   margin-left: 10px
9:   +border_radius
10:   
11:   #devise-shared-links
12:     div
13:       border-bottom: 1px solid black
14:       margin-bottom: 10px

Backtrace:
/Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/sidebar.sass:9:in `border_radius'
/Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/sidebar.sass:9
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/mixin_node.rb:74:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:305:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:213:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `map'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:317:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/rule_node.rb:191:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:305:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:213:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `map'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `perform_children'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:317:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/root_node.rb:59:in `perform!'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:305:in `_perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/node.rb:213:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/root_node.rb:37:in `perform'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/tree/root_node.rb:29:in `render'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/plugin.rb:220:in `update_stylesheet'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/plugin.rb:85:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/plugin.rb:78:in `each'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/plugin.rb:78:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/plugin.rb:76:in `each'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/plugin.rb:76:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/plugin.rb:50:in `check_for_updates'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.21/lib/sass/plugin/rack.rb:40:in `call'
/opt/local/lib/ruby/gems/1.8/gems/warden-0.10.7/lib/warden/manager.rb:35:in `call'
/opt/local/lib/ruby/gems/1.8/gems/warden-0.10.7/lib/warden/manager.rb:34:in `catch'
/opt/local/lib/ruby/gems/1.8/gems/warden-0.10.7/lib/warden/manager.rb:34:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.1/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.1/lib/action_dispatch/middleware/head.rb:14:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.1/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.1/lib/action_dispatch/middleware/flash.rb:182:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.1/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.1/lib/action_dispatch/middleware/cookies.rb:287:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.1/lib/active_record/query_cache.rb:32:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.1/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.1/lib/active_record/query_cache.rb:12:in `cache'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.1/lib/active_record/query_cache.rb:31:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.1/lib/active_record/connection_adapters/abstract/connection_pool.rb:355:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.1/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.1/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.1/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.1/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.1/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.1/lib/rails/rack/logger.rb:13:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.1/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.1/lib/action_dispatch/middleware/static.rb:30:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.1/lib/rails/application.rb:168:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.1/lib/rails/application.rb:77:in `send'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.1/lib/rails/application.rb:77:in `method_missing'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.1/lib/rails/rack/log_tailer.rb:14:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/chunked.rb:15:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/mongrel.rb:67:in `process'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:155:in `process_client'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:154:in `each'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:154:in `process_client'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `run'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `initialize'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `new'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:281:in `run'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:264:in `initialize'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:264:in `new'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1/lib/mongrel.rb:264:in `run'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/mongrel.rb:38:in `run'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.1/lib/rails/commands/server.rb:65:in `start'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.1/lib/rails/commands.rb:30
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.1/lib/rails/commands.rb:27:in `tap'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.1/lib/rails/commands.rb:27
script/rails:9:in `require'
script/rails:9
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'border_radius'.\A         on line 9 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/sidebar.sass, in `border_radius'\A         from line 9 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/sidebar.sass\A \A 4:   padding: 10px\A 5:   padding-top: 0px\A 6:   padding-right: 0px\A 7:   margin-top: 0px\A 8:   margin-left: 10px\A 9:   +border_radius\A 10:   \A 11:   #devise-shared-links\A 12:     div\A 13:       border-bottom: 1px solid black\A 14:       margin-bottom: 10px"; }
