#sidebar {
  float: left;
  width: 230px;
  padding: 10px;
  background: #f4f4f4;
  margin-top: 30px;
  margin-left: 10px; }
  #sidebar h3 {
    margin-top: 0px; }
  #sidebar .tags a:link, #sidebar .tags a:visited {
    color: black;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: green;
    padding: 5px;
    font-size: 12px;
    color: white;
    float: left;
    margin: 2px; }
  #sidebar .tags a:hover {
    background: black; }
