/*
Syntax error: Undefined mixin 'border_radius'.
        on line 3 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/user.sass, in `border_radius'
        from line 3 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/user.sass

1: .user-search
2:   input
3:     +border_radius
4:     padding: 5px
5:     border: 1px solid #e9e9e9
6:     background: #f4f4f4
7:     color = !color_2
8:     font-weight: bold

Backtrace:
/Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/user.sass:3:in `border_radius'
/Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/user.sass:3
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `block (2 levels) in update_stylesheets'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `block in update_stylesheets'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.3/lib/warden/manager.rb:35:in `block in call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `block in call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/content_length.rb:13:in `call'
/Users/dkd_hayes/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.2/lib/rack/handler/webrick.rb:52:in `service'
/Users/dkd_hayes/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/dkd_hayes/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/dkd_hayes/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'border_radius'.\A         on line 3 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/user.sass, in `border_radius'\A         from line 3 of /Users/dkd_hayes/Rails/smartr/public/stylesheets/sass/user.sass\A \A 1: .user-search\A 2:   input\A 3:     +border_radius\A 4:     padding: 5px\A 5:     border: 1px solid #e9e9e9\A 6:     background: #f4f4f4\A 7:     color = !color_2\A 8:     font-weight: bold"; }
