/*
Syntax error: Undefined variable: "$color_2".
        on line 6 of /Users/kieran/rails3/smartr/public/stylesheets/sass/user.sass

1: #user
2:   background: url(../images/bg_dark.jpg)
3:   padding: 10px
4:   padding-right: 0px
5:   margin-right: 0px
6:   color = !color_2
7:   text-align: right
8:   font-size: 12px
9:   border-bottom: 1px solid #787878
10:   box-shadow: 0px 4px 5px #888
11:   -webkit-box-shadow: 0px 4px 5px #888

Backtrace:
/Users/kieran/rails3/smartr/public/stylesheets/sass/user.sass:6
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/script/variable.rb:39:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/script/node.rb:61:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/prop_node.rb:132:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Library/Ruby/Gems/1.8/gems/warden-1.0.3/lib/warden/manager.rb:35:in `call'
/Library/Ruby/Gems/1.8/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/Library/Ruby/Gems/1.8/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/head.rb:14:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Library/Ruby/Gems/1.8/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:32:in `call'
/Library/Ruby/Gems/1.8/gems/activerecord-3.0.4/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Library/Ruby/Gems/1.8/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:12:in `cache'
/Library/Ruby/Gems/1.8/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:31:in `call'
/Library/Ruby/Gems/1.8/gems/activerecord-3.0.4/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Library/Ruby/Gems/1.8/gems/activesupport-3.0.4/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Library/Ruby/Gems/1.8/gems/railties-3.0.4/lib/rails/rack/logger.rb:13:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/Library/Ruby/Gems/1.8/gems/activesupport-3.0.4/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Library/Ruby/Gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/static.rb:30:in `call'
/Library/Ruby/Gems/1.8/gems/railties-3.0.4/lib/rails/application.rb:168:in `call'
/Library/Ruby/Gems/1.8/gems/railties-3.0.4/lib/rails/application.rb:77:in `send'
/Library/Ruby/Gems/1.8/gems/railties-3.0.4/lib/rails/application.rb:77:in `method_missing'
/Library/Ruby/Gems/1.8/gems/railties-3.0.4/lib/rails/rack/log_tailer.rb:14:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/chunked.rb:15:in `call'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/handler/mongrel.rb:67:in `process'
/Library/Ruby/Gems/1.8/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:165:in `process_client'
/Library/Ruby/Gems/1.8/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:164:in `each'
/Library/Ruby/Gems/1.8/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:164:in `process_client'
/Library/Ruby/Gems/1.8/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:291:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:291:in `initialize'
/Library/Ruby/Gems/1.8/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:291:in `new'
/Library/Ruby/Gems/1.8/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:291:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:274:in `initialize'
/Library/Ruby/Gems/1.8/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:274:in `new'
/Library/Ruby/Gems/1.8/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:274:in `run'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/handler/mongrel.rb:38:in `run'
/Library/Ruby/Gems/1.8/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/Library/Ruby/Gems/1.8/gems/railties-3.0.4/lib/rails/commands/server.rb:65:in `start'
/Library/Ruby/Gems/1.8/gems/railties-3.0.4/lib/rails/commands.rb:30
/Library/Ruby/Gems/1.8/gems/railties-3.0.4/lib/rails/commands.rb:27:in `tap'
/Library/Ruby/Gems/1.8/gems/railties-3.0.4/lib/rails/commands.rb:27
script/rails:9:in `require'
script/rails:9
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$color_2\".\A         on line 6 of /Users/kieran/rails3/smartr/public/stylesheets/sass/user.sass\A \A 1: #user\A 2:   background: url(../images/bg_dark.jpg)\A 3:   padding: 10px\A 4:   padding-right: 0px\A 5:   margin-right: 0px\A 6:   color = !color_2\A 7:   text-align: right\A 8:   font-size: 12px\A 9:   border-bottom: 1px solid #787878\A 10:   box-shadow: 0px 4px 5px #888\A 11:   -webkit-box-shadow: 0px 4px 5px #888"; }
