<div class="row">
  <div class="span1">
    <%=question.answers_count %>
  </div>
  <div class="span8">
    <%= link_to(h(question.name), question_path(:id => question.id, :friendly_id => question.friendly_id, :user_id => @user.id)) %>
  </div>
</div>