<div class="header-with-tabs">
  <h2>Admininistration</h2>
  <div class="tabs">
    <%=user_show_submenu(:admin) %>
  </div>
  <br class="clear" />
</div>
<p>Here is the place to punish everybody.</p>

<br class="clear" />
<% main_menu :users %>
<% content_for :sidebar, render("/users/sidebar/user", :user => @user) %>
