<h2>Edit My Account</h2>

<% form_for @user, :url => user_path(:id => @current_user.id), :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>
<% main_menu :users %>
<%= link_to "My Profile", user_path(:id => @current_user.id) %>
