<%= render "/users/user_header" %>
<%= user_show_submenu(:favourites) %>
<div class="user-questions">
  <% @questions.each do |question| %>
    <%= render "/users/favourite_question", :question => question %>
  <% end -%>
</div>
<% if @questions.count == 0 %>
Sorry, but no favourites found ....
<% end %>
<br class="clear" />
<%= paginate @questions %>
<% main_menu :users %>
<% content_for :sidebar, render("/users/sidebar/user", :user => @user) %>