<div class="header-with-tabs">
  <h2><%=h @user.login %></h2>
    <div class="tabs">
      <%=user_show_submenu(:favourites) %>
    </div>
    <br class="clear" />
</div>
<div class="user-questions">
  <% @questions.each do |question| %>
    <%= render "/users/favourite_question", :locals => {:question => question} %>
  <% end -%>
</div>
<br class="clear" />
<%= will_paginate @questions %>
<% main_menu :users%>
<% content_for :sidebar, render("/users/sidebar/user", :locals => {:user => @user}) %>