<h2>Users</h2>
<div class="tabs">
  <%#=submenu(:latest) %>
</div>

<div class="user-search">
  <input type="text" class="toggle" title="Enter a username ..." size="25" />
</div>
<br class="clear" />
<div class="user-list">
 <%= render :partial => "list", :locals => {:users => @users}%>
</div>
<br class="clear" />
<%= will_paginate @users%>
<% main_menu :users %>
<%# content_for :sidebar, render(:partial => "sidebar") %>