<div class="header-with-tabs">
  <h2>Users</h2>
  <div class="tabs">
    <%=user_submenu(:winner) %>
  </div>
  <br class="clear" />
</div>
<div class="user-search">
  <input type="text" class="toggle" title="Enter a username ..." size="25" />
</div>
<br class="clear" />
<div class="user-list">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th>Avatar</th>
      <th>User</th>
      <th class="activity">Latest activity</th>
      <th class="number">Views</th>
      <th class="number">Reputation</th>
    </tr>
    <%= render :partial => "list", :locals => {:users => @users}%>
 </table>
 <div class="no-result">Sorry, could not find user.</div>
</div>
<br class="clear" />
<%= will_paginate @users%>
<% main_menu :users %>
<%# content_for :sidebar, render(:partial => "sidebar") %>
