<h2>Register</h2>
<% form_for @user, :url => users_path, :html => { :multipart => true, :class => :user } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Register" %>
<% end %>
<% main_menu :users %>
