<%= render "user_header"%>
<%= user_show_submenu(:reputation) %>

<br class="clear" />
<% if @user.questions.size > 0 %>
  <div class="user-questions">
    <h3>Latest Questions</h3>
    <table class="table table-striped">
    <% @user.questions.latest.limit(5).each do |question| %>
      <%= render "question", :question => question %>
    <% end -%>
    </table>
  </div>
  <br class="clear" />
<% end -%>
<% if @user.answers.latest.size > 0 %>
  <div class="user-questions">
    <h3>Latest Answers</h3>
    <table class="table table-striped">
    <% @user.answers.latest.each do |answer| %>
      <%= render "question", :question => answer.question %>
    <% end -%>
    </table>
  </div>
<% end -%>

<% main_menu :users %>
<% content_for :sidebar, render("/users/sidebar/user", :user => @user ) %>