<div class="header-with-tabs">
  <h2>Tag Cloud</h2>
  <div class="tabs">
    <%=user_show_submenu(:tag_cloud) %>
  </div>
  <br class="clear" />
</div>
<div class="tag-cloud">
  <% tag_cloud(@tags, %w(size1 size2 size3 size4)) do |tag, css_class| %>
    <%=link_to tag, question_path(:tag => tag.name), :class => "#{css_class} tag" -%>
  <% end %>
  <% main_menu :users %>
  <% content_for :sidebar, render(:partial => "/users/sidebar/user", :locals => {:user => @user}) %>
</div>