<div class="header-with-tabs">
  <h2>Users</h2>
  <div class="tabs">
    <%=submenu(:who_is_online) %>
  </div>
  <br class="clear" />
</div>
<div class="user-list">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th>Avatar</th>
      <th>User</th>
      <th class="activity">Latest activity</th>
      <th class="number">Views</th>
      <th class="number">Reputation</th>
    </tr>
    <%= render :partial => "list", :locals => {:users => @users}%>
 </table>
</div>
<% main_menu :users %>