<% if tags.present? %>
  <% tags.each do |tag| %>
      <div class="span2">
         <%= link_to "#{tag.count} x #{tag}", questions_path(:tag => tag.name), :class => "btn btn-small" -%>
      </div>
    <% end -%>
<% else -%>
  <p>Nothing found. I am sorry</p>
<% end -%>