<% if tags.present? %>
  <% tags.each do |tag| %>
      <div style="width: 25%; float: left">
         <%=link_to "#{tag.count} x #{tag}", questions_path(:tag => tag.name), :class => "tag" -%>
       </div>
    <% end -%>
<% else -%>
<p>Nothing found. I am sorry</p>
<% end -%>