<h2>Find Tags</h2>
<div class="tag-search">
  <% form_for("tags", :url => tags_path, :html => {:method => "get"}) do |f| %>
    <%= f.text_field(:q, :value => @q, :title => "Search ...", :class => "toggle") %>
    <%= f.submit "Search"%>
  <% end %>
</div>
<br class="clear" />
<div class="tag-list">
 <%= render "list"%>
</div>
<br class="clear" />
<br class="clear" />
<%=will_paginate @tags%>
<% main_menu :tags %>
<% content_for :sidebar, render("sidebar")%>
