<h2>Find Tags</h2>
<div class="tag-search">
  <input type="text" class="toggle text" title="Enter a tag" size="25" />
</div>
<br class="clear" />
<%= debug @tags.first.inspect%>
<div class="tag-list">
 <%= render :partial => "list"%>
</div>
<% main_menu :tags %>