<h2>Find Tags</h2>
<div class="tag-search">
  <input type="text" />
</div>
<br class="clear" />
<div class="tag-list">
 <%= render :partial => "list", :locals => {:question => @question}%>
</div>
<% main_menu :tags %>