
  <%= link_to 'Ask a question!', new_question_path, :class => "new_question", :id => "new_question" %>
  <% if current_user && current_user.interesting_tag_list %>
    <h3>I am interested in ...</h3>
    <div class="tags interesting">
    <% current_user.interesting_tag_list.each do |tag| %>
      <%= link_to(h(tag), :controller => "questions", :action => "index", :tag => tag)%>
      <% end -%>
    </div>
     <div class="tags uninteresting" style="display:none">
      <% current_user.uninteresting_tag_list.each do |tag| %>
        <%= link_to(h(tag), :controller => "questions", :action => "index", :tag => tag)%>
      <% end -%>
      </div>
    <br class="clear">
  <% end -%>
<% cache "questions_sidebar_tags_view" do %>
  <h3>Recent tags</h3>
  <div class="tags">
  <% ActsAsTaggableOn::Tag.limit(20).joins(:taggings).group("tags.id").where("taggings.taggable_type='Question'").order('created_at desc').each do |tag| -%>
    <%= link_to(h(tag), :controller => "questions", :action => "index", :tag => tag)%>
  <% end -%>
  </div>
<% end -%>