@mixin border_radius_big {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

@mixin border_radius {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

@mixin box_shadow {
  -moz-box-shadow: 2px 2px 2px #737373;
  -webkit-box-shadow: 2px 2px 2px #737373;
  box-shadow: 2px 2px 2px #737373;
  outline: none; }

@mixin box_shadow_focus {
  -moz-box-shadow: 0px 0px 1px #737373;
  -webkit-box-shadow: 0px 0px 1px #737373;
  box-shadow: 0px 0px 1px #737373;
  outline: none; }

$color1: #a35400;
$color1_hover: black;

$color2: #ff8400;
$color2_hover: black;

$color3: #6a1b00;
$color3_hover: black;

$color4: #853e00;
$color4_hover: black;

$color5: #c7c7c7;
$color5_hover: black;

$color6: #383838;
$color6_hover: black;

$standard_color: #4e7700;
$standard_color_hover: $standard_color * 1.1;

$main_menu_color: #4e7700;
$main_menu_color_hover: #5c8c00;
$question_tags_color: #ae5a00;

@mixin text_shadow {
  text-shadow: 1px 1px 1px #444444; }

$bg1: #e9e9e9;
$bg2: #a87300;

