/* Override some defaults */
html, body {
  background-color: #eee;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  padding-top: 0px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
body > .navbar-fixed .brand {
  float: left;
  font-weight: bold;
  color: #e9e9e9;
  text-shadow: 0 1px 0 rgba(255,255,255,.1);
  @include clearfix
}
body > .navbar-fixed .brand:hover {
  text-decoration: none;
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.row {
  .stats {
    width:180px;
  }
  .question-cell {
    width: 500px;
  }
}

.page-header {
  h1 {
    small {
      span{
      color: green;
      font-weight: bold;
      font-style: italic;
    }
    }
  }
}


/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}


.question-list {
  h3 {
    line-height: 22px;
  }
}

#new_question {
  text-align: center;
  width: 190px;
  font-size: 1.7em;
/*  -webkit-animation-name: redPulse; */
/*  -webkit-animation-duration: 5s;*/
/*  -webkit-animation-iteration-count: infinite;*/
  margin-bottom: 1em;
}
#new_question:hover {
  background: $color2 * 1.1;
}

div.tags > a {
  margin: 0 4px 4px 0px;
}

.question-list-item {
  h3 {
    line-height: 1em;
  }
  margin-bottom: 1em;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 1em;
  .user {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    @include clearfix;
  }
}

#profile {
  float: right;
  #user-profile {
    display: inline;
    span {
      color: #ffff99;
      margin-right: 12px;
    }
  }
}
.label.notice {
    padding: 6px;
    background: black;
    //margin: 8px;
}
form label {
  font-weight: bold;
}
input[type=checkbox] {
  display: block;
}