/* Override some defaults */
html, body {
  background-color: #eee;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  padding-top: 60px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.help-block {
  margin-top: 0px;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
body > .navbar-fixed .brand {
  float: left;
  font-weight: bold;
  color: #e9e9e9;
  text-shadow: 0 1px 0 rgba(255,255,255,.1);
  @include clearfix
}
body > .navbar-fixed .brand:hover {
  text-decoration: none;
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.row {
  .stats {
    width:180px;
  }
  .question-cell {
    width: 660px;
  }
}

.page-header {
  h1 {
    small {
      span{
      color: green;
      font-weight: bold;
      font-style: italic;
    }
    }
  }
  .user {
    margin-top: 4px;
  }
  img {
    margin-right: 4px;
  }
}

.question-list {
  h3 {
    line-height: 22px;
  }

}



#profile {
  float: right;
  #user-profile {
    display: inline;
    span {
      color: #ffff99;
      margin-right: 12px;
    }
  }
}

.sidebar {
  .tags {
    
    a {
      margin-bottom: 0.5em !important;
    }
  }
}

.label.notice:link,
.label.notice:visited
 {
    color: #737373;
    padding: 6px;
    border: 1px solid #737373 * 1.5;
    background: #e9e9e9;
    text-shadow: none;
    //margin: 8px;

}
.label.notice:hover {
    background: #f4f4f4;
    color: black;
    //margin: 8px;
}
form label {
  font-weight: bold;
}
input[type=checkbox] {
  display: block;
}

.btn-wide {
  width: 100%;
}

label.span9 {
  margin-left: 0px;
}
#taglist {
  span2 {
    margin-bottom: 0.5em;
  }
}

.hl {
  background: #FE8;
}

.answer-item {
  margin-top: 1em;
  border-bottom: 1px solid #e9e9e9;
  .span1.stats {
    width: 40px;
  }
  .span8.stats {
    width: 630px;
  }
}
