/* Override some defaults */
html, body {
  background-color: #eee;

}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.page-header {
  h1 {
    small {
      span{
      color: green;
      font-weight: bold;
      font-style: italic;
    }
    }
  }
}


/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}

.question-list {
  h3 {
    line-height: 22px;
  }
}

#new_question {
  text-align: center;
  width: 190px;
  font-size: 1.7em;
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

div.tags > a {
  margin: 0 4px 4px 0px;
}

.question-list-item {
  h3 {
    line-height: 1em;
  }
  margin-bottom: 1em;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 1em;
  .user {
    display: block;
    background: #f4f4f4;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 2px;
    border: 1px solid #e9e9e9;
  }
}
