%h1 Listing users
%table
  %tr
  - @users.each do |user|
    %tr
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New user', new_user_path
